<div class="mobile-search">
  {% view "@button" with {
    button: mobile_search.open_btn|merge({
      attrs: "aria-label='Открыть поиск'"
    })
  } %}

  {% view "^search" with {
    search: header.mobile_search|merge({
      class: "mobile-search__search"
    })
  } %}

  {% view "@button" with {
    button: mobile_search.close_btn
  } %}
</div>