.price-block {
  position: relative;
  display: grid;
  margin-bottom: rem(44);
  border-radius: rem(12);

  &::before {
    position: absolute;
    inset: 0;
    border-radius: rem(12);
    background: linear-gradient(0deg, rgba(1, 160, 225, 0.2), rgba(1, 160, 225, 0.2)), linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
    content: '';

    @include media('600', max) {
      border-radius: 0;
    }
  }

  @include media('600', max) {
    width: calc(100% + 2rem);
    margin-left: -1rem;
    margin-right: -1rem;
    margin-bottom: rem(30);
    border-radius: 0;
  }

  &__picture {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: rem(12);

    @include media('600', max) {
      border-radius: 0;
    }
  }

  &__info {
    position: relative;
    padding: rem(40);
    max-width: rem(700);
    margin: 0 auto;
    text-align: center;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    color: var(--pallette-white);

    @include media('600', max) {
      padding: rem(20) rem(16);
    }
  }

  &__title {
    @include font-size(22, 33);

    &:not(:last-child) {
      margin-bottom: rem(16);
    }

    @include media('600', max) {
      @include font-size(16, 24);
      max-width: rem(156);
      margin: 0 auto;
    }
  }

  &__price {
    @include font-size(36, 50);

    &:not(:last-child) {
      margin-bottom: rem(30);

      @include media('600', max) {
        margin-bottom: rem(24);
      }
    }

    @include media('600', max) {
      @include font-size(22, 33);
    }
  }

  &__content {
    text-align: left;

    @include media('600', max) {
      @include font-size(12, 16);
    }

    &:not(:last-child) {
      margin-bottom: rem(30);

      @include media('600', max) {
        margin-bottom: rem(24);
      }
    }

    > * {
      &:not(:last-child) {
        margin-bottom: rem(14);
      }
    }
  }

  &__btn {
    padding: rem(12) rem(73);

    @include media('600', max) {
      padding: rem(12) rem(25);
    }
  }
}
