.header {
  $this: &;
  position: relative;

  &__top {
    display: flex;
    justify-content: space-between;
    gap: rem(20);
    align-items: center;
    padding: rem(23) 0 rem(26);
    border-bottom: rem(1) solid var(--pallette-mystic);

    @include media('1401', min) {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-areas: "logo logo logo catalog-btn catalog-btn search search search nav-meta nav-meta nav-meta nav-meta";
    }

    @include media('600', max) {
      gap: rem(100);
      width: calc(100% + 2rem);
      margin-left: -1rem;
      margin-right: -1rem;
      padding: rem(32) 0 rem(16);
    }
  }

  &__logo {
    grid-area: logo;

    @include media('600', max) {
      padding-left: 1rem;
    }
  }

  &__catalog-btn {
    grid-area: catalog-btn;

    @include media('1400', max) {
      display: none;
    }
  }

  &__search {
    grid-area: search;

    @include media('1400', max) {
      display: none;
    }
  }

  &__nav-meta {
    grid-area: nav-meta;
    padding-left: rem(18);

    @include media('1400', max) {
      display: none;
    }
  }

  &__bottom {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: rem(20);
    align-items: center;
    padding-top: rem(14);

    @include media('1401', min) {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-areas: "tel-block tel-block tel-block main-nav main-nav main-nav main-nav main-nav main-nav franchise-btn franchise-btn franchise-btn";
      align-items: flex-end;
    }
  }

  &__tel {
    @include flex-center-y;
    color: inherit;

    @at-root {
      #{$this}__tel-block {
        grid-area: tel-block;

        > * {
          &:not(:last-child) {
            margin-bottom: rem(4);
          }
        }
      }
    }

    &:hover {
      color: var(--pallette-cerulean);
    }

    &-text {
      font-weight: 700;
    }

    &-icon {
      width: rem(18);
      height: rem(18);
      flex-shrink: 0;
      margin-right: rem(6);
      fill: var(--pallette-cerulean);
    }
  }

  &__main-nav {
    grid-area: main-nav;

    @include media('1400', max) {
      display: none;
    }
  }

  &__franchise-btn {
    grid-area: franchise-btn;
    margin-left: rem(51);

    @include media('1400', max) {
      display: none;
    }
  }
}
