.form-photo-block {
  display: grid;
  grid-template-columns: rem(460) 1fr;
  grid-template-areas:
    "title title"
    "form content";
  gap: rem(24);
  padding: rem(30) rem(43);
  margin-bottom: rem(24);
  border-radius: rem(12);
  background-color: var(--pallette-mystic);
  text-align: center;

  @include media('767', max) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "content"
      "form";
  }

  @include media('600', max) {
    width: calc(100% + 2rem);
    margin-left: -1rem;
    margin-bottom: rem(16);
    padding: rem(20) rem(16);
    border-radius: 0;
  }

  &--mobile {
    display: none;

    @include media('600', max) {
      display: grid;
    }
  }

  &__title {
    @include font-size(22, 33);
    grid-area: title;
    font-weight: 400;

    @include media('600', max) {
      @include font-size(16, 24);
    }
  }

  &__btn {
    width: 100%;
  }

  &__note {
    @include font-size(12, 16);
    color: var(--pallette-nepal);
  }

  &__form-block {
    grid-area: form;
  }

  &__content-block {
    grid-area: content;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__content-picture {
    display: block;
    width: rem(150); // Подумать о размерах еще
  }

  &__content-img {
    margin-bottom: rem(10);
    border-radius: rem(6);
  }

  &__content-title {
    font-weight: 700;
    margin-bottom: rem(6);
  }

  &__content-text {
    color: var(--pallette-scorpion);
  }
}
