.card-info {
  $this: &;

  position: relative;
  padding: rem(30) rem(30) rem(40);
  border-radius: rem(8);
  background-color: var(--pallette-mystic);

  @include media('600', max) {
    padding: rem(12);
  }

  &:hover {
    #{$this}__title {
      color: var(--pallette-cerulean);
    }
  }

  &__title {
    @include font-size(14, 20);
    margin-bottom: rem(12);

    @include media('600', max) {
      @include font-size(14, 20);
    }

    &-link {
      transition: color var(--transition);
    }
  }

  &__text {
    position: relative;
    margin-bottom: rem(12);

    @include media('600', max) {
      @include font-size(12, 16);
    }

    a {
      color: var(--pallette-deep-cerulean);
      transition: color var(--transition);

      &:hover {
        color: var(--pallette-cerulean);
      }
    }
  }

  &__time {
    @include font-size(12, 16);
    color: var(--pallette-scorpion);
  }
}
