*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

:focus-visible {
  outline: rem(2) dotted var(--pallette-cerulean);
  outline-offset: 0.2rem;
}

input:focus {
  outline: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.lock {
  overflow: hidden;
}

html {
  height: 100%;
  scrollbar-color: var(--pallette-cerulean) transparent;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

body {
  @include flex-column;
  @include font-size(14, 20);
  height: 100%;
  font-family: var(--font-primary);
  color: var(--pallette-ebony);
  letter-spacing: 0.01em;
}

.container {
  @include container;
}

.header {
  flex-shrink: 0;
}

.main {
  position: relative;
  flex: 1 0 auto;
  margin: rem(75) 0 rem(100);

  @include media('600', max) {
    margin: rem(52) 0 rem(30);
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: rem(20);
  }

  &__sidebar {
    position: sticky;
    top: rem(20);
    align-self: flex-start;
    grid-column: span 3;
    order: 0;

    > * {
      &:not(:last-child) {
        margin-bottom: rem(40);
      }
    }

    @include media('1200', max) {
      display: none;
    }
  }

  &__content {
    grid-column: span 9;
    order: 1;

    @include media('1200', max) {
      grid-column: span 12;
    }
  }
}

.footer {
  flex-shrink: 0;
  margin-top: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

::-webkit-scrollbar {
  width: 0.625rem;
  height: 0.625rem;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--pallette-cerulean);
  border-radius: 0.5rem;
}

address {
  font-style: normal;
}

small {
  font-size: inherit;
}

.page-list {
  display: flex;
  flex-wrap: wrap;
  gap: rem(20);
  margin-top: rem(80);

  &__link {
    color: inherit;

    &:hover {
      color: var(--pallette-cerulean);
    }
  }
}
