.search {
  position: relative;

  &__input-block {
    padding-right: rem(35);
  }

  &__input {
    &::placeholder {
      color: var(--pallette-nepal);
    }
  }

  &__btn {
    @include flex-center;
    position: absolute;
    right: rem(13);
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
    cursor: pointer;
  }

  &__icon {
    width: rem(18);
    height: rem(18);
    flex-shrink: 0;
    fill: var(--pallette-deep-cerulean);
  }
}
