<div class="video {{ video.class }}">
  <a class="video__link" href="https://youtu.be/mrt0DRz_n7c">
    {# <picture>
      <source srcset="./assets/images/pixel.png" data-srcset="https://i.ytimg.com/vi_webp/mrt0DRz_n7c/maxresdefault.webp" type="image/webp">
      <img class="video__media lazy" src="./assets/images/pixel.png" data-src="https://i.ytimg.com/vi/mrt0DRz_n7c/maxresdefault.jpg"
        alt="Сергей Филиппов. Коммерческий директор. Разговор о компании.">
    </picture> #}
    <picture>
      <source srcset="https://i.ytimg.com/vi_webp/mrt0DRz_n7c/maxresdefault.webp" type="image/webp">
      <img class="video__media" src="https://i.ytimg.com/vi/mrt0DRz_n7c/maxresdefault.jpg"
        alt="Сергей Филиппов. Коммерческий директор. Разговор о компании." loading="lazy">
    </picture>
  </a>
  <button class="btn video__btn" aria-label="Запустить видео">
    <svg class="video__btn-img" viewBox="0 0 138 93" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
      <path class="video__btn-shape" d="M135.006 14.6353C134.225 11.8511 132.705 9.33034 130.606 7.34112C128.448 5.29074 125.803 3.82405 122.921 3.07949C112.135 0.236488 68.9216 0.236489 68.9216 0.236489C50.9063 0.0315207 32.8955 0.933022 14.9907 2.9359C12.1086 3.73547 9.46876 5.23493 7.30599 7.30092C5.18092 9.34558 3.64167 11.867 2.83759 14.6295C0.906034 25.0352 -0.0324493 35.6008 0.0347948 46.184C-0.0341265 56.7577 0.902054 67.3199 2.83759 77.7385C3.62444 80.4896 5.15794 82.9995 7.28876 85.0269C9.41957 87.0543 12.073 88.5189 14.9907 89.2943C25.9205 92.1315 68.9216 92.1315 68.9216 92.1315C86.9598 92.3368 104.994 91.4353 122.921 89.4321C125.803 88.6876 128.448 87.2209 130.606 85.1705C132.704 83.1817 134.223 80.6606 135 77.8763C136.982 67.4747 137.946 56.9047 137.877 46.3161C138.026 35.6827 137.064 25.0629 135.006 14.6295V14.6353ZM55.1833 65.8495V26.5242L91.1372 46.1898L55.1833 65.8495Z"/>
      <path class="video__btn-icon" d="M91.9805 47.2051L55.1996 68.4405L55.1996 25.9697L91.9805 47.2051Z"/>
    </svg>
  </button>
</div>