.btn {
  $this: &;

  padding: 0;
  letter-spacing: 0.01em;
  cursor: pointer;
  border: none;
  background-color: transparent;
  transition:
    color var(--transition),
    background-color var(--transition);

  &__icon {
    fill: currentColor;
  }

  &__text {
    pointer-events: none;
  }

  &--btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: rem(12) rem(14);
    color: var(--pallette-white);
    font-weight: 700;
    border-radius: rem(6);
  }

  &--primary {
    background-color: var(--pallette-cerulean);

    &:hover {
      background-color: var(--pallette-deep-cerulean);
    }
  }

  &--secondary {
    background-color: var(--pallette-deep-cerulean);

    &:hover {
      background-color: var(--pallette-cerulean);
    }
  }

  &--tertiary {
    background-color: var(--pallette-white);
    color: var(--pallette-cerulean);

    &:hover {
      background-color: var(--pallette-cerulean);
      color: var(--pallette-white);
    }
  }

  &--quaternary {
    color: var(--pallette-ebony);
    font-weight: 400;
    background-color: var(--pallette-mystic);

    &:hover {
      background-color: var(--pallette-nobel);
    }
  }

  &--large {
    @include font-size(17, 22);
  }

  &--toggle-gray {
    background-color: var(--pallette-mystic);
    color: var(--pallette-deep-cerulean);
    font-weight: 400;
  }

  &--toggle-white {
    background-color: var(--pallette-white);
    color: var(--pallette-deep-cerulean);
    font-weight: 400;
  }

  &--toggle-gray,
  &--toggle-white {
    #{$this}__icon {
      width: rem(18);
      height: rem(18);
      margin-right: rem(10);
    }
  }

  &--toggle {
    &-active {
      background-color: var(--pallette-cerulean);
      color: var(--pallette-white);
    }
  }

  &--arrow {
    display: inline-flex;
    align-items: center;
    color: var(--pallette-deep-cerulean);

    #{$this}__icon {
      width: rem(24);
      height: rem(24);
      margin-left: rem(6);
      fill: currentColor;
    }

    &:hover {
      color: var(--pallette-cerulean);

      #{$this}__icon {
        fill: var(--pallette-cerulean);
      }
    }
  }

  &--underline {
    color: inherit;
    text-decoration: underline;

    &:hover {
      color: var(--pallette-cerulean);
    }
  }

  &--sticky {
    position: fixed;
    bottom: rem(18);
    left: 50%;
    z-index: 10;
    transform: translateX(-50%);
    padding: rem(12) rem(58);

    @include media('600', max) {
      bottom: rem(8);
      padding: rem(12) rem(8);
      font-size: rem(14);
    }
  }

  &--show-more {
    display: flex;
    padding: rem(10) rem(32);
    margin: rem(20) auto 0;

    #{$this}__icon {
      width: rem(14);
      height: rem(24);
      margin-left: rem(6);
    }

    @include media('375', max) {
      width: 100%;
      margin-top: rem(16);
    }
  }
}
