.btn {
  $this: &;

  padding: 0;
  letter-spacing: 0.01em;
  cursor: pointer;
  border: none;
  background-color: transparent;
  transition:
    color var(--transition),
    background-color var(--transition);

  &--btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    // padding: rem(12) rem(22);
    padding: rem(12) rem(14);
    color: var(--pallette-white);
    font-weight: 700;
    border-radius: rem(6);
    transition: background-color var(--transition);

    #{$this}__icon {
      width: rem(18);
      height: rem(18);
      margin-right: rem(10);
      flex-shrink: 0;
      fill: var(--pallette-white);
    }
  }

  &--primary {
    background-color: var(--pallette-cerulean);

    &:hover {
      background-color: var(--pallette-deep-cerulean);
    }
  }

  &--secondary {
    background-color: var(--pallette-deep-cerulean);

    &:hover {
      background-color: var(--pallette-cerulean);
    }
  }

  &--large {
    @include font-size(17, 22);
  }

  &--toggle-gray {
    background-color: var(--pallette-mystic);
    color: var(--pallette-deep-cerulean);
    font-weight: 400;
    transition: opacity var(--transition);

    &:hover {
      opacity: 0.75;
    }
  }

  &--toggle-white {
    background-color: var(--pallette-white);
    color: var(--pallette-deep-cerulean);
    font-weight: 400;
    transition: opacity var(--transition);

    &:hover {
      opacity: 0.75;
    }
  }
}
