{% set card = detail.main_card %}

<article class="detail-card">
  {% view "@image" with {
    image: card.image|merge({
      class: "detail-card__img"
    })
  } %}
  <div class="detail-card__info">
    <dl class="detail-card__list">
      {% for item in card.info.list.items %}
        <div class="detail-card__item">
          <dt class="detail-card__term">
            {{ item.term }}
          </dt>
          <dd class="detail-card__descr">
            {{ item.descr }}
          </dd>
        </div>
      {% endfor %}
    </dl>
    <div class="detail-card__links">
      {% view "@button" with {
        button: card.info.site_btn|merge({
          class: "detail-card__info-btn",
          svg_as_code: '<svg class="icon detail-card__info-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M2 12C2 6.48 6.47 2 11.99 2C17.52 2 22 6.48 22 12C22 17.52 17.52 22 11.99 22C6.47 22 2 17.52 2 12ZM15.9698 8.00043H18.9198C17.9598 6.35043 16.4298 5.07043 14.5898 4.44043C15.1898 5.55043 15.6498 6.75043 15.9698 8.00043ZM12 4.04C12.83 5.24 13.48 6.57 13.91 8H10.09C10.52 6.57 11.17 5.24 12 4.04ZM4 12C4 12.69 4.1 13.36 4.26 14H7.64C7.56 13.34 7.5 12.68 7.5 12C7.5 11.32 7.56 10.66 7.64 10H4.26C4.1 10.64 4 11.31 4 12ZM5.08 16H8.03C8.35 17.25 8.81 18.45 9.41 19.56C7.57 18.93 6.04 17.66 5.08 16ZM5.08008 8.00043H8.03008C8.35008 6.75043 8.81008 5.55043 9.41008 4.44043C7.57008 5.07043 6.04008 6.34043 5.08008 8.00043ZM12 19.96C11.17 18.76 10.52 17.43 10.09 16H13.91C13.48 17.43 12.83 18.76 12 19.96ZM9.5 12C9.5 12.68 9.57 13.34 9.66 14H14.34C14.43 13.34 14.5 12.68 14.5 12C14.5 11.32 14.43 10.65 14.34 10H9.66C9.57 10.65 9.5 11.32 9.5 12ZM14.59 19.56C15.19 18.45 15.65 17.25 15.97 16H18.92C17.96 17.65 16.43 18.93 14.59 19.56ZM16.4994 12C16.4994 12.68 16.4394 13.34 16.3594 14H19.7394C19.8994 13.36 19.9994 12.69 19.9994 12C19.9994 11.31 19.8994 10.64 19.7394 10H16.3594C16.4394 10.66 16.4994 11.32 16.4994 12Z"/>
            </svg>'
        })
      } %}

      {% view "@button" with {
        button: card.info.presentation_btn|merge({
          class: "detail-card__info-btn",
          icon: {
            class: "detail-card__info-icon",
            name: "sprite-mono.svg#file"
          }
        })
      } %}
    </div>
  </div>
  <div class="detail-card__specialist">
    <div class="detail-card__specialist-header">
      {% view "@image" with {
        image: card.specialist.image|merge({
          class: "detail-card__img"
        })
      } %}

      <div class="detail-card__specialist-content">
        <div class="detail-card__specialist-name">
          {{ card.specialist.name }}
        </div>

        <p class="detail-card__specialist-job">
          {{ card.specialist.job }}
        </p>
      </div>
    </div>

    <div class="detail-card__specialist-footer">
      {% view "@button" with {
        button: card.specialist.add_to_list_btn|merge({
          class: "btn--btn btn--toggle-gray btn--toggle detail-card__specialist-btn",
          icon: {
            name: "sprite-multi.svg#square"
          }
        })
      } %}

      {% view "@button" with {
        button: card.specialist.contact_btn|merge({
          class: "btn--btn btn--primary btn--large detail-card__specialist-btn"
        })
      } %}
    </div>
  </div>
</article>