<section class="section">
  {% if section.title %}
    {% view "@title" with {
      title: section.title
    } %}
  {% endif %}

  {% if section.header %}
    <div class="section__header">
      {% view "@title" with {
        title: section.header.title|merge({
          class: "section__title"
        })
      } %}

      {% if section.header.button %}
        {% view "@button" with {
          button: section.header.button|merge({
            class: "btn--arrow section__btn section__header-btn"
          })
        } %}
      {% endif %}
    </div>
  {% endif %}

  {% if section.text %}
    <p class="section__text">
      {{ section.text }}
    </p>
  {% endif %}

  <div class="section__content {% if section.modifier == 'two-items' %}section__content--two-items{% elseif section.modifier == 'three-items' %}section__content--three-items{% elseif section.modifier == 'margin-bottom' %}section__content--mb{% endif %}"
  >
    {% if section.data.type == '^card_info' %}
      {% for item in section.data.content.items %}
        {% view "^card_info" with {
          card_info: item
        } %}
      {% endfor %}
    {% elseif section.data.type == '&card_block' %}
      {% for item in section.data.content.items %}
        {% view "&card_block" with {
          card_block: item
        } %}
      {% endfor %}
    {% elseif section.data.type == '&card' %}
      {% for item in section.data.content.items %}
        {% view "&card" with {
          card: item
        } %}
      {% endfor %}
    {% elseif section.data.type == '&slider' %}
      {% view "&slider" with {
        slider: section.data
      } %}
    {% elseif section.data.type == '^video' %}
      {% for i in 0..9 %}
        {% view "^video" with {
          video: {
            class: "video--secondary"
          }
        } %}
      {% endfor %}
    {% endif %}
  </div>

  {% if section.footer %}
    <div class="section__footer">
      {% if section.footer.button %}
        {% view "@button" with {
          button: section.footer.button|merge({
            class: "btn--arrow section__footer-btn"
          })
        } %}
      {% endif %}

      {% if section.footer.show_more_button %}
        {% view "@button" with {
          button: section.footer.show_more_button|merge({
            class: "btn--large btn--btn btn--primary btn--show-more"
          })
        } %}
      {% endif %}
    </div>
  {% endif %}
</section>