<section class="about">
  <p>
    Добро пожаловать! Сайт Franshiza-info.ru полезен тем, кто хочет купить готовый бизнес — купить франшизу. <br> Здесь Вам предложены:
  </p>

  <ul>
    <li>
      удобный <a href="#">каталог франшиз</a>;
    </li>
    <li>
      информация о франчайзинге и франшизах в России и СНГ;
    </li>
    <li>
      возможность отправлять запросы о франшизах напрямую представителям компаний-франчайзеров.
    </li>
  </ul>

  <p>
    При использовании информации и сервисов сайта <a href="#">www.franshiza-info.ru</a>, во избежание возможных недоразумений, Вы обязуетесь соблюдать следующее Пользовательское соглашение (т.е. условия использования сайта).
  </p>

  <h2>
    Пользовательское соглашение сайта ФРАНШИЗА&nbsp;Инфо
  </h2>

  <p>
    Введение. О сайте ФРАШИЗА Инфо.
  </p>

  <p>
    Сайт ФРАНШИЗА Инфо является информационным порталом, собирающим информацию о франчайзинге в целом, о предприятиях-франчайзерах, работающих по системе франчайзинга, о предложениях франшиз и новостях в области франчайзинга, а также о лицах, которые желают организовать свой бизнес, купить готовый бизнес, купить франшизу и ищут для этого возможности. Вся информация о франшизах, новостях компаний, интервью, предоставляется и проверяется франчайзерами, а также администрацией сайта ФРАНШИЗА Инфо.
  </p>

  <p>
    Сайт ФРАНШИЗА Инфо предлагает Пользователю ознакомиться с собранной информацией и/или использовать ее в своих целях, не нарушающих права владельца сайта ФРАНШИЗА Инфо и не противоречачих Пользовательскому Соглашению и действующему законодательству Российской Федерации.
  </p>

  <p>
    Сайт ФРАНШИЗА Инфо предлагает Пользователю возможность использовать следующие сервисы: регистрация и сохранение в базе данных ФРАНШИЗА Инфо своих персональных данных для удобства работы с сайтом, подписка на информационную рассылку ФРАНШИЗА Инфо, отправка сообщений и персональных данных компаниям-франчайзерам для установления связи с Пользователем.
  </p>

  <ol>
    <li>
      <p>О пользовательском соглашении между Администрацией сайта ФРАНШИЗА Инфо и Пользователем сайта.</p>
      <ol>
        <li>
          Эксплуатация сайта <a href="#">www.franshiza-info.ru</a> (далее по тексту Сайта) и его сервисов Пользователем Сайта (далее по тексту Пользователь) автоматически означает согласие Пользователя безоговорочно принять и обязательство соблюдать все нижеописанные условия настоящего Пользовательского Соглашения (далее по тексту Соглашения).
        </li>
        <li>
          Администрация Сайта (далее по тексту Администрация) может в любой момент изменять настоящее Соглашение, все произведенные изменения вступают в свою силу с момента публикации обновленной версии Соглашения по адресу <a href="#">https://www.franshiza-info.ru/about_site/</a>. Использование Сайта и его сервисов после изменения Соглашения означает согласие Пользователя с ними. Пользователь несет ответственность за самостоятельное ознакомление с актуальной версией Соглашения.
        </li>
        <li>
          В случае, если Вы не согласны соблюдать настоящее Соглашение, пожалуйста, далее не используйте Сайт, удалите Вашу имеющуюся учетную запись пользователя (далее по тексту Аккаунт), связавшись с Администрацией по адресу: <a href="mailto:info@franshiza-info.ru">info@franshiza-info.ru</a>.
        </li>
      </ol>
    </li>

    <li>
      <p>
        Используемые понятия и определения.
      </p>
      <ol>
        <li>
          Сайт – комплекс веб-страниц, объединенных одной темой, дизайном и размещенных в сети Интернет в одном адресном пространстве домена <a href="#">www.franshiza-info.ru</a> и со стартовой страницей в сети Интернет по адресу <a href="#">www.franshiza-info.ru</a>.
        </li>
        <li>
          Пользователь – любое лицо, производящее доступ к Сайту с помощью сети Интернет и просмотревшее хотя бы одну страницу Сайта без предварительной регистрации и авторизации на сайте, а также любое лицо, имеющее Аккаунт на Сайте. Пользователь не вправе использовать Сайт и его сервисы и не может принять условия Соглашения, если он не достиг установленного законодательством РФ возраста для заключения подобных соглашений или не выполнил других условий для заключения подобных соглашений, предусмотренных законодательством РФ.
        </li>
        <li>
          Администрация  – группа лиц, уполномоченных Владельцем Сайта управлять деятельностью Сайта. Администрация Сайта действует от имени Владельца Сайта, если иное не будет указано отдельно.
        </li>
        <li>
          Аккаунт – персональное интернет-пространство Пользователя, защищенное паролем. В нем содержится персональная информация, личные и контактные данные Пользователя и Контент, размещенный Пользователем. Регистриуясь в базе данных Сайта и создавая аккаунт, Пользователь дает свое согласие на обработку своих персональных данных в соответсвии с законом №ФЗ-152 от от 27.07.2006 «О защите персональных данных».
        </li>
        <li>
          Контент – любая информация (тексты, фото, видео, презентации и прочие материалы), размещенная на Сайте.
        </li>
        <li>
          Личный кабинет – аккаунт Пользователя на Сайте. Создается для удобства работы с Сайтом. Пользователь осуществляет вход в «Личный кабинет» на соответствующей странице Сайта путем ввода своего «логина» - своего адреса электронной почты (e-mail) и персонального пароля, выданного Пользователю Сайтом при регистрации («залогинивание»). Выход из личного кабинета Пользователь осуществляет путем нажатия кнопки «Выйти» в верхней части Сайта. Завершение работы с Сайтом и/или закрытие окна браузера не обеспечивает автоматический выход («разлогинивание») из «Личного кабинета».
        </li>
      </ol>
    </li>

    <li>
      <p>
        Ответственность Администрации.
      </p>
      <ol>
        <li>
          Сайт только предоставляет Пользователям возможность доступа к размещенной информации. Вся информация о франшизах и компаниях-франчайзерах, размещенная на Сайте, предоставляется и проверяется компаниями-франчайзерами. Администрация и Владелец Сайта ни в каком случае не несут никакой ответственности за достоверность и актуальность информации, размещенной на Сайте.
        </li>
        <li>
          В то же время Администрация обязуется прилагать все возможные усилия для исключения с Сайта неаккуратной, оскорбительной, не соответствующей действительности информации.
        </li>
        <li>
          Пользуясь информацией, размещенной на Сайте, Пользователь осознает и принимает риски, сопряженные с возможной недостоверностью этой информации.
        </li>
        <li>
          Администрация и Владелец Сайта не гарантируют отсутствие ошибок и компьютерных вирусов в программном обеспечении, на сервере и компьютерных сетях, используемых Сайтом. Администрация не несет ответственности за утрату данных или порчу оборудования при использовании Сайта.
        </li>
        <li>
          Администрация не гарантирует никаких результатов от использования сайта и(или) его сервисов.
        </li>
        <li>
          Администрация не несет ответственности за причинение каких-либо потерь или убытков, возникших в итоге наличия рекламы в услугах и/или взаимодействия Пользователей с рекламодателями.
        </li>
        <li>
          Ни при каких обстоятельствах Администрация сайта и Владелец Сайта не несут ответственности перед Пользователями, любыми третьими лицами за любой косвенный, случайный, неумышленный ущерб, включая упущенную выгоду или потерянные данные, вред чести, достоинству или деловой репутации, вызванный в связи с использованием сайта, содержимого сайта, сервисов Сайта или других материалов, к которым Пользователи или другие лица получили доступ с помощью сайта.
        </li>
        <li>
          Мнение Пользователей Сайта может не совпадать с мнением Администрации.
        </li>
      </ol>
    </li>

    <li>
      <p>
        Права администрации.
      </p>
      <ol>
        <li>
          В любой момент без предварительного уведомления Пользователя изменять любые составляющие Сайта (его оформление, Контент, сервисы, скрипты, программное обеспечение и т.п.).
        </li>
        <li>
          Отправлять Пользователю по электронной почте сообщения, касающиеся использования Сайта (при возникновении такой необходимости), а также звонить по указанному номеру телефона для проведения опроса или сбора другой информации.
        </li>
        <li>
          В любой момент изменять условия предоставления Аккаунта, временно приостановить доступ к нему или прекратить его без предварительного уведомления Пользователя.
        </li>
        <li>
          Изменять и удалять любой Контент, противоречащий законодательству РФ, приостанавливать, ограничивать или прекращать доступ Пользователя к любому из разделов или сервисов Сайта с предварительным уведомлением или без него.
        </li>
        <li>
          Администрация оставляет за собой право использовать в работе программы Google Аналитика и Yandex Метрика для изучения поведения пользователей на Сайте.
        </li>
      </ol>
    </li>

    <li>
      <p>
        Права Пользователя.
      </p>
      <ol>
        <li>
          Бесплатно, если специально не оговорено иное, использовать весь Контент и сервисы Сайта в личных целях, не противоречащим условиям настоящего Соглашения и законодательству РФ.
        </li>
        <li>
          Предоставлять свои персональные данные.
        </li>
        <li>
          Обращаться к Администрации Сайта за помощью в использовании Сайта или для разрешения спорных вопросов.
        </li>
        <li>
          В любой момент обращаться к Администрации Сайта с требованием удаления Аккаунта или удаления внесенных ранее персональных данных Пользователя, связавшись с Администрацией по адресу: <a href="#">info@franshiza-info.ru</a>
        </li>
      </ol>
    </li>

    <li>
      <p>
        Обязанности Пользователя.
      </p>
      <ol>
        <li>
          При регистрации на Сайте предоставлять достоверную, точную, актуальную и полную информацию.
        </li>
        <li>
          Обеспечивать сохранность своих личных логина и пароля для доступа к Сайту.
        </li>
        <li>
          Соблюдать условия настоящего Соглашения, не осуществлять запрещенных действий на Сайте, не нарушать правила цитирования, копирования и распространения Контента Сайта.
        </li>
        <li>
          В полной мере нести ответственность за любые действия, произведенные Пользователем с использованием его Аккаунта, а также за любые последствия таких действий.
        </li>
        <li>
          На Сайте запрещено:
          <ol>
            <li>
              Использовать автоматизированные программы для сбора информации и/или взаимодействия с Сайтом и его сервисами;
            </li>
            <li>
              Размещать любые файлы, которые содержат вирусы, вредоносные программы;
            </li>
            <li>
              Мешать нормальному функционированию Сайта и его сервисов;
            </li>
            <li>
              Создавать более одного пользовательского Аккаунта;
            </li>
            <li>
              Предоставлять третьим лицам доступ к своему Аккаунту, если они не выступают в качестве полномочных представителей владельца Аккаунта;
            </li>
            <li>
              Использовать пароли и иную идентификационную информацию других Пользователей в неправомерных, коммерческих или корыстных целях;
            </li>
            <li>
              Любым путем (в том числе путем взлома) пытаться получить доступ к чужому Аккаунту без согласия Пользователя, которому он пренадлежит;
            </li>
            <li>
              Регистрировать фальшивый Аккаунт - от имени лица, которым Вы не являетесь или чьи интересы Вы не уполномочены представлять;
            </li>
            <li>
              Размещать на Сайте персональную информацию других пользователей, а также любых третьих лиц без их личного согласия на это.
            </li>
          </ol>
        </li>
      </ol>
    </li>

    <li>
      <p>
        О правах на Контент.
      </p>
      <ol>
        <li>
          Права на все элементы Сайта (в том числе дизайн, графические изображения, текст, фото, видео, иллюстрации, программы, скрипты, звуки, музыка и другие объекты и их подборки) принадлежат Администрации, права на размещаемый Контент принадлежат правообладателям в соответствии с законодательством РФ, все права на эти объекты защищены.
        </li>
        <li>
          Любой Контент, размещенный на Сайте запрещается копировать (воспроизводить), перерабатывать, распространять, отображать во фрейме, публиковать, скачивать, передавать, продавать или другим способом использовать целиком или по частям, если нет на то предварительного письменного разрешения правообладателя или Администрации.
        </li>
        <li>
          Любое не описанное в настоящем Соглашении использование Сайта и его Контента категорически запрещено.
        </li>
        <li>
          Ничто в настоящем Соглашении не может быть понято как передача исключительных прав.
        </li>
      </ol>
    </li>

    <li>
      <p>
        О правилах использования материалов.
      </p>
      <ol>
        <li>
          Все материалы, размещенные на Сайте <a href="#">www.Franshiza-info.ru</a>, не могут быть использованы в любых средствах массовой информации, в сети Интернет или на любых других носителях без официального разрешения на это Администрации Сайта.
        </li>
        <li>
          Для Интернет-ресурсов, при наличии разрешения Администрации Сайта, публикация материалов Сайта возможна только в неизменном виде и при условии наличия в начале и в заключение материала активной гиперссылки на <a href="#">www.franshiza-info.ru</a>.
        </li>
        <li>
          Запрещено включение в RSS-рассылки сообщений, полностью дублирующих материалы Сайта.
        </li>
      </ol>
    </li>

    <li>
      <p>
        О правилах использования Сайта.
      </p>
      <ol>
        <li>
          Используя Сайт, Пользователь обязуется не нарушать или пытаться нарушать информационную безопасность Сайта.0
        </li>
        <li>
          На Сайте запрещается:

          <ol>
            <li>
              доступ к данным, не предназначенным для данного Пользователя или вход в систему под логином, не принадлежащем данному Пользователю;
            </li>
            <li>
              попытки проверить уязвимость системы безопасности Сайта, нарушение процедуры регистрации и авторизации без разрешения Администрации;
            </li>
            <li>
              попытки создать помехи в использовании Сайта другим Пользователям, что включает в себя распространение компьютерных вирусов, порчу данных, постоянную рассылку повторяющейся информации, пересылку электронной почты через сервер сайта, одновременную отправку большого количества электронной почты и/или запросов к Сайту с целью намеренно вывести сервер сайта из строя и тому подобные действия, выходящие за рамки нормального целевого использования Сайта, и могущие умышленно или по неосторожности повлечь сбои в его работе;
            </li>
            <li>
              рассылку пользователям Сайта материалов, на которые они не давали своего согласия, «спама», любых писем и рекламы без разрешения Администрации;
            </li>
            <li>
              использование или попытки использования любого программного обеспечения, или процедуры для навигации или поиску на Сайте, кроме встроенной в Сайт поисковой машины и традиционных и общедоступных браузеров (Microsoft Internet Explorer, Mozilla Firefox и других подобных).
            </li>
            <li>
              НАРУШЕНИЕ БЕЗОПАСНОСТИ СИСТЕМЫ ИЛИ КОМПЬЮТЕРНОЙ СЕТИ ВЛЕЧЕТ ЗА СОБОЙ ГРАЖДАНСКУЮ И УГОЛОВНУЮ ОТВЕТСТВЕННОСТЬ. АДМИНИСТРАЦИЯ БУДЕТ РАССЛЕДОВАТЬ ВСЕ СЛУЧАИ ВОЗМОЖНОГО НАРУШЕНИЯ БЕЗОПАСНОСТИ СО СТОРОНЫ ПОЛЬЗОВАТЕЛЕЙ САЙТА В СОТРУДНИЧЕСТВЕ С КОМПЕТЕНТНЫМИ ОРГАНАМИ С ЦЕЛЬЮ ПРЕСЕЧЕНИЯ ПОДОБНОЙ ЗЛОНАМЕРЕННОЙ ДЕЯТЕЛЬНОСТИ.
            </li>
            <li>
              Сайт сохраняет файлы cookies бесконечно долго.
            </li>
          </ol>
        </li>
      </ol>
    </li>

    <li>
      <p>
        Персональные данные.
      </p>

      <ol>
        <li>
          Принимая настоящее соглашение путем использования информации и сервисов Сайта, Пользователь дает свое согласие Администрации Сайта на обработку персональных данных, предоставленных при регистрации на Сайте, отправке запроса франчайзеру или подписке на новостные и рекламные сообщения от Сайта (имя, e-mail, телефон, город), а также любых других персональных данных, самостоятельно внесенных Пользователем в базы данных Сайта.
          <br>
          <br>
          Обработка персональных данных Пользователя осуществляется в соответствии с законодательством Российской Федерации. Администрация Сайта обрабатывает персональные данные Пользователя в целях предоставления Пользователю услуг, в том числе, в целях получения Пользователем информации о франчайзинговых предложениях, представленных на Сайте. Администрация Сайта принимает все необходимые меры для защиты персональных данных Пользователя от неправомерного доступа, изменения, раскрытия или уничтожения.
          <br>
          <br>
          Также Пользователь дает согласие Администрации Сайта на передачу его персональных данных компаниям-франчайзерам (или их представителям), чьи франчайзинговые предложения представлены на Сайте. Сайт гарантирует, что персональные данные передаются исключительно с целью предоставления компаниям-франчайзерам возможности связаться с Пользователем, заинтересованным в их франчайзинговом предложении.

          <ol>
            <li>
              Обработка персональных данных означает следующие действия с персональными данными Пользователя: сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение), использование, распространение (в том числе передачу третьим лицам, не исключая трансграничную передачу, если необходимость в ней возникла в ходе исполнения обязательств), обезличивание, блокирование, уничтожение персональных данных.
            </li>
            <li>
              При использовании сервисов Сайта, Пользователь дает свое согласие Администрации Сайта на отправку ему на предоставленный электронный адрес новостных сообщений от Сайта (новостной рассылки Сайта). При этом в каждом отправляемом новостном сообщении Пользователь имеет возможность и право отказаться от получения новостных сообщений от Сайта (Отписаться от рассылки) и удалить свой электронный адрес из базы адресов новостной рассылки Сайта путем перехода по специально предоставленной для этого ссылке в новостном сообщении (Отписаться от рассылки).
            </li>
            <li>
              Согласие на обработку персональных данных Пользователя действует со дня его подачи в результате использования сервисов Сайта в течение 75 лет или до дня отзыва в письменной форме.
            </li>
          </ol>
        </li>
        <li>
          Администрация прилагает все возможные усилия для того, чтобы избежать несанкционированного использования персональных данных Пользователей. Однако Администрация не несет ответственности за возможное нецелевое использование персональных данных Пользователей, произошедшее из-за:

          <ol>
            <li>
              Технических неполадок в программном обеспечении, серверах или компьютерных сетях, находящихся вне контроля Администрации;
            </li>
            <li>
              Перебоев в работе Сайта, связанных с намеренным или ненамеренным использованием Сайта не по назначению третьими лицами, описанным в разделе «О правилах использования Сайта»;
            </li>
            <li>
              Передачи паролей или информации с Сайта Пользователями другим лицам, не являющимися зарегистрированными пользователями Сайта или другим Пользователям, не имеющим доступа к данной информации в силу условий регистрации и заключенных договоров с Администрацией;
            </li>
            <li>
              Сбоев в системах или недобросовестного использования Персональных данных Пользователя компаниями-франчайзерами, которым были переданы Персональные данные Пользователя в рамках предоставления услуг и использования сервисов Сайта.
            </li>
          </ol>
        </li>
        <li>
          Используя Сайт, Пользователь соглашается и принимает, что Администрация оставляет за собой право использовать его персональные данные анонимно и в обобщенном виде для статистических целей, а также для получения Пользователем персонализированной (таргетированной) рекламы; проверки, исследования и анализа таких данных, позволяющих поддерживать и улучшать сервисы и разделы Сайта, а также разрабатывать новые сервисы и разделы Сайта.
        </li>
        <li>
          Администрация обязуется не предоставлять никакие персональные данные о Пользователях частным лицами и организациям за исключением случаев, предусмотренных настоящим Соглашением и действующим законодательством РФ.
        </li>
        <li>
          Администрация не несет ответственности за возможное нецелевое использование информации с Сайта зарегистрированными пользователями или иными лицами и/или организациями, которое произошло без уведомления Администрации с нарушением или без информационной безопасности Сайта.
        </li>
      </ol>
    </li>

    <li>
      <p>
        О рекламе.
      </p>
      <ol>
        <li>
          Пользователь понимает и соглашается с тем, что все услуги Сайта или любая их часть может сопровождаться рекламой. Используя Сайт, Пользователь признает право Администрации размещать подобную рекламу без предварительного уведомления и без какой-либо компенсации пользователям. Характер размещения и количество рекламы, отображаемой на Сайте в целом, определяются и изменяются по усмотрению Администрации.
        </li>
        <li>
          Переписка и деловые отношения Пользователей с рекламодателями или участие в рекламных акциях, проводимых рекламодателями, осуществляемых при помощи Сайта, включая оплату, доставку, в том числе условия, гарантии и презентации соответствующих услуг или товаров, упомянутых или найденных вследствие таковых отношений, порождают права и обязательства исключительно между Пользователем и рекламодателем.
        </li>
      </ol>
    </li>

    <li>
      <p>
        Общие положения.
      </p>

      <ol>
        <li>
          Настоящее Соглашение регулируется и толкуется в соответствии с законодательством Российской Федерации. Вопросы, не урегулированные Соглашением, подлежат разрешению в соответствии с законодательством Российской Федерации. Если по тем или иным причинам одна или несколько норм настоящих Правил является недействительной или не имеющей юридической силы, это не оказывает влияния на действительность или применимость остальных норм.
        </li>
        <li>
          Бездействие со стороны Администрации Сайта в случае нарушения кем-либо из Пользователей положений Соглашения не лишает Администрацию Сайта права предпринять позднее соответствующие действия в защиту своих интересов и защиту авторских прав на охраняемые в соответствии с законодательством материалы Сайта.
        </li>
      </ol>
    </li>
  </ol>
</section>