.subscribe {
  $this: &;

  &__title {
    @include font-size(16, 24);
    margin-bottom: rem(24);

    @include media('600', max) {
      margin-bottom: rem(15);
    }
  }

  &__socials {
    display: flex;
    gap: rem(8);
    margin-bottom: rem(15);

    @include media('600', max) {
      margin-bottom: rem(9);
    }
  }

  &__link {
    @include flex-center;
    width: 100%;
    padding: rem(10);
    border-radius: rem(6);

    &--telegram {
      background-color: var(--pallette-cerulean);

      #{$this}__link-icon {
        fill: var(--pallette-white);
      }

      @media (hover: hover) {
        &:hover {
          background-color: var(--pallette-deep-cerulean);
        }
      }
    }

    &--youtube {
      background-color: var(--pallette-athens-gray);

      #{$this}__link-icon {
        fill: var(--pallette-cerulean);
      }

      @media (hover: hover) {
        &:hover {
          background-color: var(--pallette-cerulean);

          #{$this}__link-icon {
            fill: var(--pallette-white);
          }
        }
      }
    }

    &-icon {
      width: rem(24);
      height: rem(24);
    }
  }

  &__form {
    margin-bottom: rem(14);
  }

  &__btn {
    width: 100%;
  }

  &__text {
    @include font-size(12, 16);
    color: var(--pallette-nobel);
  }

  &__input-wrap {
    background-color: var(--pallette-athens-gray);
  }

  &__input {
    background-color: var(--pallette-athens-gray);

    &::placeholder {
      color: var(--pallette-nepal);
    }
  }
}
