<div class="dropdown">
  {% view "@button" with {
    button: dropdown.button|merge({
      class: "dropdown__btn",
      icon: {
        class: "dropdown__icon",
        name: "sprite-multi.svg#sort"
      }
    })
  } %}

  <ul class="dropdown__menu" {{ dropdown.menu.attrs }}>
    {% for item in dropdown.menu.items %}
      <li class="dropdown__item">
        {% view "@button" with {
          button: item|merge({
            class: "dropdown__menu-btn"
          })
        } %}
      </li>
    {% endfor %}
  </ul>
</div>