.sticky-banner {
  @include media('1300', max) {
    display: none;
  }

  &--left {
    grid-area: sticky-banner-left;
    margin-left: auto;
  }

  &--right {
    grid-area: sticky-banner-right;
    margin-right: auto;
  }

  &__link {
    display: flex;
    position: sticky;
    top: rem(20);
  }

  &__img {
    border-radius: rem(12);
  }
}
