<div class="sticky-banner {{ sticky_banner.class }}">
  <a class="sticky-banner__link" href="#">
    <picture>
      <source media="(max-width: 1400px)" type="image/avif" srcset="./assets/images/fixed_banner/03.avif">
      <source media="(max-width: 1400px)" type="image/webp" srcset="./assets/images/fixed_banner/03.webp">
      <source media="(max-width: 1400px)" srcset="./assets/images/fixed_banner/03.jpg">
      <source media="(max-width: 1700px)" type="image/avif" srcset="./assets/images/fixed_banner/02.avif">
      <source media="(max-width: 1700px)" type="image/webp" srcset="./assets/images/fixed_banner/02.webp">
      <source media="(max-width: 1700px)" srcset="./assets/images/fixed_banner/02.jpg">
      <source type="image/avif" srcset="./assets/images/fixed_banner/01.avif">
      <source type="image/webp" srcset="./assets/images/fixed_banner/01.webp">
      <img
        class="sticky-banner__img"
        src="./assets/images/fixed_banner/01.jpg"
        alt="IT франшиза. Гарантия окупаемости."
      >
    </picture>
  </a>
</div>