.sidebar-form {
  $this: &;

  @include flex-column;
  padding: rem(16);
  background-color: var(--pallette-mystic);
  border-radius: rem(12);
  text-align: center;
  max-width: rem(231);

  &__title {
    @include font-size(16, 24);
    margin-bottom: rem(24);
  }

  &__subtitle {
    grid-column: span 2;
    font-weight: 700;
    margin-bottom: rem(8);
    text-align: center;

    @include media('600', max) {
      order: 2;
      margin-bottom: rem(6);
    }
  }

  &__content {
    display: grid;
    grid-template-columns: rem(70) 1fr;
    gap: rem(8);
    margin-bottom: rem(24);
    text-align: left;

    &-img {
      border-radius: rem(6);

      @include media('600', max) {
        order: 0;
        margin-bottom: rem(10);
      }
    }

    &-title {
      color: var(--pallette-scorpion);

      @include media('600', max) {
        order: 3;
      }
    }

    @include media('600', max) {
      @include flex-column;
      align-items: center;
      text-align: center;
      gap: 0;
    }
  }

  &__note {
    @include font-size(12, 16);
    color: var(--pallette-nepal);

    &-link {
      color: inherit;
      text-decoration: underline;

      &:hover {
        color: var(--pallette-cerulean);
      }
    }
  }
}
