.burger {
  display: none;

  &__icon {
    width: rem(32);
    height: rem(32);
    flex-shrink: 0;
    fill: var(--pallette-cerulean);
  }

  @include media('1400', max) {
    @include flex-center;
  }

  @include media('600', max) {
    padding-right: 1rem;
  }
}
