{% extends "../blocks/layout/base.twig" %}

{% block content %}
<main id="main" class="main" tabindex="-1">
  <div class="container">
    <div class="main__inner">
      <div class="main__content">
        {% view "^breadcrumbs" with {
          breadcrumbs: about.breadcrumbs
        } %}

        {% view "@title" with {
          title: about.title|merge({
            class: "title--h1"
          })
        } %}

        {% view "&about" %}

        {% view "@banner" %}

        {% view "&accordion" with {
          accordion: about.sidebar_accordion_mobile
        } %}

        {% view "&sidebar_slider" with {
          sidebar_slider: about.sidebar_slider_mobile
        } %}
      </div>
      <aside class="main__sidebar">
        {% view "&accordion" with {
          accordion: about.sidebar_accordion
        } %}

        {% view "&sidebar_slider" with {
          sidebar_slider: about.sidebar_slider
        } %}
      </aside>
    </div>
  </div>
</main>

{% view "@top_btn" %}

{% endblock %}