{% extends "../blocks/layout/base.twig" %}

{% block content %}
<main id="main" class="main" tabindex="-1">
  {% view "@sticky_banner" with {
    sticky_banner: {
      class: "sticky-banner--left"
    }
  } %}

  {% view "@sticky_banner" with {
    sticky_banner: {
      class: "sticky-banner--right"
    }
  } %}

  <div class="container main__container">
    <div class="main__inner">
      <div class="main__content">
        {% view "^breadcrumbs" with {
          breadcrumbs: auth.breadcrumbs
        } %}

        {% view "@title" with {
          title: auth.title|merge({
            class: "title--h1"
          })
        } %}

        {% view "&form_block" with {
          form_block: auth.form_block
        } %}

        {% view "&review_franchise_and_exclusive_interviews" %}

        {% view "@banner" %}

        {% view "&sidebar_accordion_mobile" %}

        {% view "&sidebar_slider_mobile" %}

        {% view "&news_and_info_about_franchise" %}
      </div>
      <aside class="main__sidebar">
        {% view "&sidebar_accordion" %}

        {% view "&sidebar_slider" %}
      </aside>
    </div>
  </div>
</main>

{% view "@top_btn" %}

{% endblock %}