{% extends "../blocks/layout/base.twig" %}

{% block content %}
<main id="main" class="main main--catalog" tabindex="-1">
  <div class="container">
    <div class="main__inner">
      <div class="main__content">
        {% view "^breadcrumbs" with {
          breadcrumbs: catalog.breadcrumbs
        } %}

        {% view "&sidebar_accordion_mobile" %}

        {% view "@title" with {
          title: catalog.title|merge({
            class: "title--h1"
          })
        } %}

        {% view "^dropdown" with {
          dropdown: catalog.dropdown
        } %}

        {% view "&section" with {
          section: catalog.cards
        } %}

        {% view "&text_block" with {
          text_block: catalog.text_block
        } %}

        {% view "&form_block" with {
          form_block: catalog.form_block
        } %}

        {% view "&review_franchise_and_exclusive_interviews" %}

        {% view "@banner" %}

        {% view "&news_and_info_about_franchise" %}

        {% view "&sidebar_slider_mobile" %}
      </div>
      <aside class="main__sidebar">
        {% view "&sidebar_accordion" %}

        {% view "&sidebar_slider" %}
      </aside>
    </div>
  </div>
</main>

{% view "@top_btn" %}

{% endblock %}