{% extends "../blocks/layout/base.twig" %}

{% block content %}
<main id="main" class="main" tabindex="-1">
  <div class="container">
    <div class="main__inner">
      <div class="main__content">
        {% view "^breadcrumbs" with {
          breadcrumbs: detail.breadcrumbs
        } %}

        {% view "@title" with {
          title: detail.title|merge({
            class: "title--h1"
          })
        } %}

        {% view "&detail_card" with {
          detail_card: detail.detail_card
        } %}

        {% view "&tabs" with {
          tabs: detail.tabs
        } %}

        {% view "&text_block" with {
          text_block: detail.text_block
        } %}

        {% view "&section" with {
          section: detail.review_partners
        } %}

        {% view "^card_official" with {
          card_official: detail.card_official
        } %}

        {% view "&form_photo_block" with {
          form_photo_block: detail.form_photo_block
        } %}

        {% view "^socials" with {
          socials: detail.socials
        } %}

        {% view "&section" with {
          section: detail.similar_franchise
        } %}

        {% view "&section" with {
          section: detail.review_franchise_and_exclusive_interviews
        } %}

        {% view "@banner" %}

        {% view "&sidebar_slider" with {
          sidebar_slider: detail.sidebar_slider_mobile
        } %}
      </div>
      <div class="main__sidebar">
        {% view "&sidebar_form" with {
          sidebar_form: detail.sidebar_form
        } %}

        {% view "&accordion" with {
          accordion: detail.sidebar_accordion
        } %}

        {% view "&sidebar_slider" with {
          sidebar_slider: detail.sidebar_slider
        } %}
      </div>
    </div>
  </div>
</main>
{% endblock %}