{% extends "../blocks/layout/base.twig" %}

{% block content %}
<main id="main" class="main main--detail" tabindex="-1">
  <div class="container">
    <div class="main__inner">
      <div class="main__content">
        {% view "^breadcrumbs" with {
          breadcrumbs: detail.breadcrumbs
        } %}

        {% view "@title" with {
          title: detail.title|merge({
            class: "title--h1"
          })
        } %}

        {% view "&detail_card" %}

        {% view "&accordion" with {
          accordion: detail.mobile_accordion
        } %}

        {% view "&tabs" with {
          tabs: detail.tabs
        } %}

        {% view "&text_block" with {
          text_block: detail.text_block
        } %}

        {% view "&section" with {
          section: detail.review_partners
        } %}

        {% view "^card_official" %}

        {% view "&form_photo_block" with {
          form_photo_block: detail.form_photo_block
        } %}

        {% view "^socials" with {
          socials: detail.socials
        } %}

        {% view "&similar_franchise" %}

        {% view "&review_franchise_and_exclusive_interviews" %}

        {% view "@banner" %}

        {% view "&sidebar_accordion_mobile" %}

        {% view "&sidebar_slider_mobile" %}
      </div>
      <aside class="main__sidebar">
        {% view "&sidebar_form" %}

        {% view "&sidebar_accordion" %}

        {% view "&sidebar_slider" %}
      </aside>
    </div>
  </div>

  {% view "@button" with {
    button: {
      class: "btn--btn btn--large btn--primary btn--sticky btn--scroll",
      text: {
        text: "Получить бизнес-план"
      }
    }
  } %}
</main>

{% view "&modal" with {
  modal: detail.modal_login
} %}

{% view "@top_btn" %}

{% endblock %}