{% extends "../blocks/layout/base.twig" %}

{% block content %}
<main id="main" class="main" tabindex="-1">
  <div class="container">
    <div class="main__inner">
      <div class="main__content">
        {% view "^breadcrumbs" with {
          breadcrumbs: done.breadcrumbs
        } %}

        {% view "^send_request" with {
          send_request: done.send_request
        } %}

        {% view "&section" with {
          section: done.similar_franchise
        } %}

        {% view "@banner" %}

        {% view "&accordion" with {
          accordion: done.sidebar_accordion_mobile
        } %}

        {% view "&sidebar_slider" with {
          sidebar_slider: done.sidebar_slider_mobile
        } %}

        {% view "&section" with {
          section: done.news_and_info_franchise
        } %}
      </div>
      <aside class="main__sidebar">
        {% view "&accordion" with {
          accordion: done.sidebar_accordion
        } %}

        {% view "&sidebar_slider" with {
          sidebar_slider: done.sidebar_slider
        } %}
      </aside>
    </div>
  </div>
</main>

{% view "@top_btn" %}

{% endblock %}