{% extends "../blocks/layout/base.twig" %}

{% block content %}
<main id="main" class="main main--landing" tabindex="-1">
  <div class="container">
    <div class="main__inner">
      <div class="main__content">
        {% view "^breadcrumbs" with {
          breadcrumbs: landing.breadcrumbs
        } %}

        {% view "@title" with {
          title: landing.title|merge({
            class: "title--h1"
          })
        } %}

        <p class="main__text">
          {{ landing.text }}
        </p>

        {% view "&tabs" with {
          tabs: landing.tabs
        } %}

        {% view "&form_block" with {
          form_block: landing.form_block
        } %}

        {% view "^socials" with {
          socials: landing.socials
        } %}

        {% view "&text_block" with {
          text_block: landing.text_block
        } %}

        {% view "@banner" %}

        {% view "&section" with {
          section: landing.review_franchise_and_exclusive_interviews
        } %}

        {% view "&accordion" with {
          accordion: landing.sidebar_accordion_mobile
        } %}

        {% view "&sidebar_slider" with {
          sidebar_slider: landing.sidebar_slider_mobile
        } %}
      </div>
      <aside class="main__sidebar">
        {% view "&accordion" with {
          accordion: landing.sidebar_accordion
        } %}

        {% view "&sidebar_slider" with {
          sidebar_slider: landing.sidebar_slider
        } %}
      </aside>
    </div>
  </div>
</main>

{% view "@top_btn" %}

{% view "&modal" with {
  modal: landing.modal_login
} %}

{% endblock %}