{% extends "../blocks/layout/base.twig" %}

{% block content %}
<main id="main" class="main" tabindex="-1">
  <div class="container">
    <div class="main__inner">
      <div class="main__content">
        {% view "^breadcrumbs" with {
          breadcrumbs: not_found.breadcrumbs
        } %}

        {% view "^not_found" with {
          not_found: not_found.content_block
        } %}

        {% view "&section" with {
          section: not_found.review_franchise_and_exclusive_interviews
        } %}

        {% view "@banner" %}

        {% view "&accordion" with {
          accordion: not_found.sidebar_accordion_mobile
        } %}

        {% view "&sidebar_slider" with {
          sidebar_slider: not_found.sidebar_slider_mobile
        } %}

        {% view "&section" with {
          section: not_found.news_and_info_about_franchise
        } %}
      </div>
      <aside class="main__sidebar">
        {% view "&accordion" with {
          accordion: not_found.sidebar_accordion
        } %}

        {% view "&sidebar_slider" with {
          sidebar_slider: not_found.sidebar_slider
        } %}
      </aside>
    </div>
  </div>
</main>

{% view "@top_btn" %}

{% endblock %}