{% extends "../blocks/layout/base.twig" %}

{% block content %}
<main id="main" class="main main--personal" tabindex="-1">
  {% view "@sticky_banner" with {
    sticky_banner: {
      class: "sticky-banner--left"
    }
  } %}

  {% view "@sticky_banner" with {
    sticky_banner: {
      class: "sticky-banner--right"
    }
  } %}

  <div class="container main__container">
    {% view "^breadcrumbs" with {
      breadcrumbs: personal_request.breadcrumbs
    } %}

    {% view "^personal_nav" with {
      personal_nav: personal_request.nav
    } %}

    {% view "^personal_card" with {
      personal_card: personal_request.card
    } %}

    {% view "&request_list" with {
      request_list: personal_request.list
    } %}
  </div>
</main>

{% view "@top_btn" %}

{% endblock %}