{% extends "../blocks/layout/base.twig" %}

{% block content %}
<main id="main" class="main main--personal" tabindex="-1">
  {% view "@sticky_banner" with {
    sticky_banner: {
      class: "sticky-banner--left"
    }
  } %}

  {% view "@sticky_banner" with {
    sticky_banner: {
      class: "sticky-banner--right"
    }
  } %}

  <div class="container main__container">
    <h1 class="visually-hidden">Личный кабинет. Условия сервиса.</h1>

    {% view "^breadcrumbs" with {
      breadcrumbs: personal_conditions.breadcrumbs
    } %}

    {% view "^personal_nav" with {
      personal_nav: personal_conditions.nav
    } %}

    <p>
      {{ personal_conditions.text }}
    </p>
  </div>
</main>

{% view "@top_btn" %}

{% endblock %}