{% extends "../blocks/layout/base.twig" %}

{% block content %}
<main id="main" class="main" tabindex="-1">
  <div class="container">
    <div class="main__inner">
      <div class="main__content">
        {% view "^breadcrumbs" with {
          breadcrumbs: search.breadcrumbs
        } %}

        {% view "@title" with {
          title: search.title|merge({
            class: "title--h1"
          })
        } %}

        {% view "^search" with {
          search: search.search
        } %}

        {% view "^dropdown" with {
          dropdown: search.dropdown
        } %}

        {% view "&section" with {
          section: search.results
        } %}

        {% view "&section" with {
          section: search.review_franchise_and_exclusive_interviews
        } %}

        {% view "@banner" %}

        {% view "&accordion" with {
          accordion: search.sidebar_accordion_mobile
        } %}

        {% view "&sidebar_slider" with {
          sidebar_slider: search.sidebar_slider_mobile
        } %}

        {% view "&section" with {
          section: search.news_and_info_about_franchise
        } %}
      </div>
      <aside class="main__sidebar">
        {% view "&accordion" with {
          accordion: search.sidebar_accordion
        } %}

        {% view "&sidebar_slider" with {
          sidebar_slider: search.sidebar_slider
        } %}
      </aside>
    </div>
  </div>
</main>

{% view "@top_btn" %}

{% endblock %}