<div class="detail-tabs-slider {{ detail_tabs_slider.class }}">
  <div class="swiper detail-tabs-slider__inner">
    <div class="swiper-wrapper">
      {% for item in detail_tabs_slider.items %}
        <div class="swiper-slide">
          {% view "@image" with {
            image: item.image|merge({
              class: "detail-tabs-slider__img",
              lazy: false,
              sizes: {
                width: 285,
                height: 181
              }
            })
          } %}
        </div>
      {% endfor %}
    </div>
    <button class="btn swiper-button-prev detail-tabs-slider__btn" aria-label="Назад">
      {% view "@icon" with {
        icon: {
          class: "detail-tabs-slider__btn-icon",
          name: "sprite-mono.svg#arrow_left"
        }
      } %}
    </button>
    <button class="btn swiper-button-next detail-tabs-slider__btn detail-tabs-slider__btn--next" aria-label="Вперед">
      {% view "@icon" with {
        icon: {
          class: "detail-tabs-slider__btn-icon",
          name: "sprite-mono.svg#arrow_left"
        }
      } %}
    </button>
  </div>
  <div class="swiper-pagination detail-tabs-slider__pagination"></div>
</div>