<div class="card-official-wrap">
  <div class="card-official">
    {% view "@icon" with {
      icon: {
        class: "card-official__icon",
        name: "sprite-multi.svg#check_with_border"
      }
    } %}
    <div class="card-official__text">
      {{ card_official.text }}
    </div>
  </div>

  {% if card_official.second_text %}
    <p class="card-official__second-text">
      {{ card_official.second_text }}
    </p>
  {% endif %}
</div>