.footer-list {
  display: flex;
  flex-direction: column;
  gap: rem(22);

  @include media('600', max) {
    gap: rem(10);
  }

  &__link {
    color: inherit;

    &:hover {
      color: var(--pallette-cerulean);
    }
  }
}
