.footer-list {
  > * {
    &:not(:last-child) {
      margin-bottom: rem(22);

      @include media('600', max) {
        margin-bottom: rem(10);
      }
    }
  }

  &__link {
    color: inherit;

    &:hover {
      color: var(--pallette-cerulean);
    }
  }
}
