<nav class="personal-nav" aria-label="Навигация по страницам кабинета">
  {% for item in personal_nav.items %}
    {% if item.href %}
      {% view "@button" with {
        button: item|merge({
          class: "personal-nav__link"
        })
      } %}
    {% else %}
      <a class="personal-nav__link" aria-current="page">
        {{ item.text.text }}
      </a>
    {% endif %}
  {% endfor %}
</nav>