.form-block {
  $this: &;

  padding: rem(30);
  border-radius: rem(12);
  background-color: var(--pallette-mystic);
  text-align: center;

  @include media('600', max) {
    padding: rem(20) rem(16);
    margin-top: rem(30);
    width: calc(100% + 2rem);
    margin-left: -1rem;
    border-radius: 0;
  }

  &--heading-left {
    @include media('375', max) {
      #{$this}__title {
        text-align: left;
        max-width: rem(240);
      }
    }
  }

  &__title {
    @include font-size(22, 33);
    margin-bottom: rem(24);

    @include media('600', max) {
      @include font-size(16, 24);
      margin-bottom: rem(14);
    }
  }

  &__form {
    max-width: rem(460);
    margin: 0 auto rem(10);
  }

  &__btn {
    width: 100%;
  }

  &__note {
    @include font-size(12, 16);
    color: var(--pallette-nepal);
  }
}
