<div class="form-block {{ form_block.class }}">
  {% view "@title" with {
    title: form_block.title|merge({
      class: "form-block__title"
    })
  } %}

  {% if form_block.toggle %}
    <button class="btn btn--large form-block__toggle">
      У франшиз из списка (<span class="form-block__toggle-num">3</span>)
      <svg class="icon btn__icon form-block__toggle-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M15.8019 10.1912C15.675 10.0688 15.5029 10 15.3235 10C15.1441 10 14.972 10.0688 14.8452 10.1912L11.4959 13.4237L8.14667 10.1912C8.01906 10.0722 7.84814 10.0064 7.67074 10.0079C7.49333 10.0094 7.32363 10.0781 7.19818 10.1992C7.07273 10.3202 7.00157 10.484 7.00003 10.6552C6.99848 10.8265 7.06668 10.9914 7.18993 11.1146L11.0175 14.8088C11.1444 14.9312 11.3165 15 11.4959 15C11.6753 15 11.8474 14.9312 11.9743 14.8088L15.8019 11.1146C15.9287 10.9921 16 10.8261 16 10.6529C16 10.4797 15.9287 10.3137 15.8019 10.1912Z"/>
      </svg>
    </button>

    <div class="form-block__toggle-list">
      {% for item in form_block.toggle.list.items %}
        {% view "^card_text" with {
          card_text: item
        } %}
      {% endfor %}
    </div>
  {% endif %}

  {% if form_block.socials %}
    {% view "^socials" with {
      socials: form_block.socials|merge({
        class: "form-block__socials"
      })
    } %}

    <p class="form-block__small-text">
      или
    </p>
  {% endif %}

  <form
    {% if form_block.form_id %}id="{{ form_block.form_id }}"{% endif %}
    class="form form--validation form-block__form"
    action="/"
    method="get"
    >
    {% for input in form_block.inputs %}
      {% view "@input" with {
        input: input
      } %}
    {% endfor %}

    {% if form_block.button_forgot_password %}
      {% view "@button" with {
        button: form_block.button_forgot_password|merge({
          class: "form-block__forgot-password"
        })
      } %}
    {% endif %}

    {% view "@button" with {
      button: form_block.button|merge({
        class: "btn--btn btn--primary btn--large form-block__btn " ~ form_block.button.class
      })
    } %}

    {% if form_block.button_registration %}
      {% view "@button" with {
        button: form_block.button_registration|merge({
          class: "btn--btn btn--tertiary btn--large form-block__registration-btn"
        })
      } %}
    {% endif %}
  </form>

  {% if form_block.note %}
    <p class="form-block__note">
      {{ form_block.note }}
    </p>
  {% endif %}
</div>