.form-block {
  $this: &;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: rem(30);
  margin-bottom: rem(44);
  border-radius: rem(12);
  background-color: var(--pallette-mystic);

  @include media('600', max) {
    padding: rem(20) rem(16);
    width: calc(100% + 2rem);
    margin-left: -1rem;
    margin-bottom: rem(30);
    border-radius: 0;
  }

  &--heading-left {
    @include media('600', max) {
      align-items: flex-start;

      #{$this}__title {
        text-align: left;
        max-width: rem(256);
      }
    }
  }

  &__title {
    @include font-size(22, 33);
    margin-bottom: rem(24);
    font-weight: 400;

    @include media('600', max) {
      @include font-size(16, 24);
      margin-bottom: rem(14);
    }
  }

  &__form {
    max-width: rem(460);
    width: 100%;
    margin: 0 auto rem(10);
    transition: margin var(--transition);

    @include media('600', max) {
      max-width: 100%;
    }
  }

  &__btn {
    width: 100%;
  }

  &__note {
    @include font-size(12, 16);
    color: var(--pallette-nepal);

    @include media('600', max) {
      text-align: center;
    }
  }

  &__toggle {
    @include flex-center-y;
    color: var(--pallette-cerulean);
    font-weight: 700;
    transition: margin-bottom var(--transition), color var(--transition);

    @media (hover: hover) {
      &:hover {
        color: var(--pallette-deep-cerulean);
      }
    }

    @include media('600', max) {
      @include font-size(14, 20);
    }

    &--active {
      margin-bottom: rem(20);

      @include media('600', max) {
        margin-bottom: rem(10);
      }

      #{$this}__toggle-icon {
        transform: rotate(-180deg);
      }

      + #{$this}__toggle-wrap {
        visibility: visible;
      }
    }

    &-icon {
      width: rem(24);
      height: rem(24);
      margin-left: rem(6);
      transition: transform var(--transition);
    }

    &-wrap {
      margin-bottom: rem(24);
      width: 100%;
      max-height: 0;
      overflow: hidden;
      visibility: hidden;
      transition: max-height var(--transition), margin-bottom var(--transition);

      @include media('600', max) {
        margin-bottom: rem(30);
      }
    }

    &-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: rem(20);

      @include media('767', max) {
        grid-template-columns: repeat(2, 1fr);
      }

      @include media('600', max) {
        grid-template-columns: 1fr;
      }
    }

    &-text {
      text-align: center;
    }
  }

  &__socials {
    display: flex;
    margin-bottom: rem(8);
  }

  &__small-text {
    color: var(--pallette-nepal);
    margin-bottom: rem(8);
  }

  &__registration-btn {
    width: 100%;
    font-weight: 400;
  }

  &__forgot-password {
    display: block;
    padding-left: rem(12);
    color: var(--pallette-cerulean);
    text-align: left;

    @media (hover: hover) {
      &:hover {
        color: var(--pallette-deep-cerulean);
      }
    }

    @include media('600', max) {
      padding-left: 0;
    }
  }
}
