<div class="kind-franchise">
  {% view "@image" with {
    image: {
      name: "kind_franchise/01.png",
      alt: "Добрая франшиза."
    }
  } %}
  <div class="kind-franchise__text-block">
    <p>
      Франшиза "Персональное решение" награждается почетным званием "Добрая франшиза" за активное участие в благотворительной деятельности. Управляющая компания оказывает содействие Фонду помощи бездомным животным "Приютино", а также детскому дому в Санкт-Петербурге.
    </p>
  </div>
</div>