.input-block {
  $this: &;

  background-color: var(--pallette-white);
  border-radius: rem(6);

  &--success {
    background-color: transparent;
    color: var(--pallette-cerulean);

    #{$this}__input {
      color: inherit;
      outline: rem(1) solid var(--pallette-cerulean);
    }

    #{$this}__textarea {
      color: inherit;
      outline: rem(1) solid var(--pallette-cerulean);
    }
  }

  &--error {
    background-color: transparent;
    color: var(--pallette-red);

    #{$this}__input {
      color: inherit;
      outline: rem(1) solid var(--pallette-red);
    }

    #{$this}__textarea {
      color: inherit;
      outline: rem(1) solid var(--pallette-red);
    }

    #{$this}__message {
      color: inherit;
      text-align: left;
    }
  }

  &__input {
    width: 100%;
    padding: rem(11) 0 rem(11) rem(12);
    border: none;
    background-color: var(--pallette-white);
    border-radius: rem(6);

    &::placeholder {
      color: var(--pallette-nobel);
    }

    &:disabled {
      background-color: var(--pallette-mystic-soft);
      cursor: not-allowed;
    }
  }

  &__label {
    @include font-size(12, 16);
    display: block;
    padding: 0 0 rem(6) rem(14);
    color: var(--pallette-scorpion);

    @include media('600', max) {
      padding: 0 0 rem(6) rem(8);
    }
  }

  &__message {
    margin-top: rem(4);
  }
}

.textarea {
  padding: rem(11) rem(12);
  width: 100%;
  height: rem(139);
  border: none;
  background-color: var(--pallette-white);
  border-radius: rem(6);
  resize: none;

  &::placeholder {
    color: var(--pallette-nobel);
  }
}

.form {
  margin-bottom: rem(10);

  > * {
    &:not(:last-child) {
      margin-bottom: rem(8);
    }
  }

  &__fieldset {
    display: flex;
    flex-direction: column;
    row-gap: rem(8);
  }

  &__img {
    margin: rem(8) auto rem(8);
  }
}
