.card {
  $this: &;

  position: relative;
  display: flex;
  flex-direction: column;

  @media (hover: hover) {
    &:hover {
      #{$this}__title {
        color: var(--pallette-deep-cerulean);
      }
    }
  }

  @include media('600', max) {
    width: calc(100% + 2rem);
    margin-left: -1rem;
  }

  &--secondary {
    #{$this}__content {
      padding: rem(10) rem(12) rem(14);
      background-color: var(--pallette-nepal-soft);

      @include media('600', max) {
        padding: rem(10) rem(16) rem(16);
      }
    }

    #{$this}__btn {
      width: 100%;
      margin-left: unset;
    }
  }

  &__img {
    margin: 0 auto;
    border-radius: rem(6);
    height: rem(210);
    object-fit: contain;

    @include media('600', max) {
      width: 100%;
      height: unset;
      border-radius: 0;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding: rem(10) rem(12) 0;
    border-bottom-left-radius: rem(6);
    border-bottom-right-radius: rem(6);

    @include media('600', max) {
      padding: rem(10) rem(16) 0;
    }
  }

  &__title {
    @include font-size(14, 20);
    margin-bottom: rem(6);
    transition: color var(--transition);
  }

  &__text {
    color: var(--pallette-scorpion);
    margin-bottom: rem(24);
  }

  &__list {
    margin-bottom: rem(10);
  }

  &__item {
    display: flex;
    gap: rem(16);
  }

  &__term {
    color: var(--pallette-scorpion);
  }

  &__descr {
    font-weight: 700;
  }

  &__bottom {
    margin-top: auto;
  }

  &__btn {
    position: relative;
    width: calc(100% + 1.5rem);
    margin-left: -0.8rem;

    @include media('600', max) {
      width: 100%;
      margin-left: unset;
    }
  }
}
