.detail-tabs {
  &__btns {
    display: flex;
    flex-wrap: wrap;
    gap: rem(12) rem(32);
    margin-bottom: rem(24);
  }

  &__btn {
    @include font-size(22, 33);
    color: var(--pallette-deep-cerulean);

    &[aria-selected=true] {
      color: var(--pallette-ebony);
    }

    &:hover {
      color: var(--pallette-ebony);
    }
  }
}
