:root {
  // pallette
  --pallette-ebony: #090d1b;
  --pallette-white: #fff;
  --pallette-cerulean: #01a0e1;
  --pallette-deep-cerulean: #007aa9;
  --pallette-mystic: #e9eff2;
  --pallette-athens-gray: #f6f7f9;
  --pallette-nepal: #84a8bd;
  --pallette-nobel: #b4b4b4;
  --pallette-scorpion: #575757;
  --pallette-mine-shaft: #212121;
  --pallette-red: #f00;
  --pallette-gray: #828282;
  --pallette-nepal-soft: rgba(1, 160, 225, 0.1);
  --pallette-mystic-soft: rgba(233, 239, 242, 0.5);
  --pallette-body-bg: yellow;

  // containers
  --container-width: 77rem;
  --container-padding: 1rem;

  // fonts
  --font-primary: 'PT Sans', sans-serif;

  // transitions
  --transition: 0.3s;
  --transition-secondary: 0.15s;
}
