.card-text {
  $this: &;

  position: relative;
  display: flex;
  gap: rem(12);

  @media (hover: hover) {
    &:hover {
      #{$this}__link {
        color: var(--pallette-cerulean);
      }
    }
  }

  &--secondary {
    #{$this}__title {
      color: var(--pallette-deep-cerulean);
    }
  }

  &__content {
    > * {
      &:not(:last-child) {
        margin-bottom: rem(3);
      }
    }
  }

  &__title {
    @include font-size(14, 20);
    font-weight: 400;
    color: var(--pallette-ebony);
  }

  &__link {
    transition: color var(--transition);
  }

  &__time {
    color: var(--pallette-scorpion);
  }

  &__picture {
    flex-shrink: 0;
  }

  &__img {
    border-radius: rem(6);
  }

  &__remove {
    &-btn {
      @include flex-center-y;
      position: relative;
      color: var(--pallette-scorpion);

      @media (hover: hover) {
        &:hover {
          color: var(--pallette-mine-shaft);

          #{$this}__remove-icon {
            fill: currentColor;
          }
        }
      }
    }

    &-icon {
      width: rem(15);
      height: rem(15);
      margin-left: rem(2);
      fill: var(--pallette-nobel);
    }
  }
}
