<nav class="pagination" aria-label="Результаты поиска">
  {% view "@button" with {
    button: pagination.btn_prev|merge({
      icon: {
        class: "pagination__icon",
        name: "sprite-mono.svg#arrow_left"
      },
      class: "pagination__btn pagination__btn--prev"
    })
  } %}

  <ol class="pagination__list">
    {% for item in pagination.items %}
      <li class="pagination__item">
        {% view "@button" with {
          button: item|merge({
            href: "#",
            class: "pagination__link"
          })
        } %}
      </li>
    {% endfor %}
  </ol>

  {% view "@button" with {
    button: pagination.btn_next|merge({
      icon: {
        class: "pagination__icon",
        name: "sprite-mono.svg#arrow_left"
      },
      class: "pagination__btn pagination__btn--next"
    })
  } %}
</nav>