.card-block {
  $this: &;

  display: grid;
  grid-template-columns: rem(204) 1fr;
  gap: rem(30);
  padding: rem(30);
  background-color: var(--pallette-mystic);
  border-radius: rem(8);

  @include media('600', max) {
    grid-template-columns: 1fr;
    width: calc(100% + 2rem);
    gap: 0;
    margin-left: -1rem;
    padding: 0;
    border-radius: 0;
  }

  &--secondary {
    grid-template-columns: 1fr;

    #{$this}__img {
      margin: 0 auto;
    }
  }

  &--tertiary {
    #{$this}__text {
      height: rem(100);
      overflow: hidden;
    }
  }

  &--quaternary {
    #{$this}__text {
      height: rem(80);
      overflow: hidden;
    }
  }

  &__img {
    border-radius: rem(6);

    @include media('600', max) {
      margin: 0 auto;

      width: 100%;
      border-radius: 0;
    }
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: rem(6);

    &:not(:last-child) {
      margin-bottom: rem(12);

      @include media('600', max) {
        margin-bottom: rem(16);
      }
    }

    @include media('600', max) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__title {
    @include font-size(14, 20);
  }

  &__content {
    @include flex-column;

    @include media('600', max) {
      padding: rem(16);
    }

    &.show {
      #{$this}__text {
        height: unset;
      }

      #{$this}__toggle-icon {
        transform: rotate(180deg);
      }
    }
  }

  &__time {
    @include font-size(12, 16);
    display: block;
    margin-top: auto;
    color: var(--pallette-scorpion);

    &:not(:last-child) {
      margin-bottom: rem(12);
    }
  }

  &__author {
    @include font-size(12, 16);
    color: var(--pallette-scorpion);

    &:not(:last-child) {
      margin-bottom: rem(10);
    }
  }

  &__btn {
    color: var(--pallette-ebony);

    @include media('600', max) {
      max-width: rem(240);
    }
  }

  &__subtitle {
    @include font-size(16, 24);
    display: block;
    color: var(--pallette-deep-cerulean);
    font-weight: 700;

    &:not(:last-child) {
      margin-bottom: rem(12);

      @include media('600', max) {
        margin-bottom: rem(6);
      }
    }

    @media (hover: hover) {
      &:hover {
        color: var(--pallette-cerulean);
      }
    }
  }

  &__text {
    // height: rem(80);
    // overflow: hidden;

    &:not(:last-child) {
      margin-bottom: rem(12);
    }

    > * {
      &:not(:last-child) {
        margin-bottom: rem(12);

        @include media('600', max) {
          margin-bottom: rem(16);
        }
      }
    }

    a {
      color: var(--pallette-deep-cerulean);
      transition: color var(--transition);

      @media (hover: hover) {
        &:hover {
          color: var(--pallette-cerulean);
        }
      }
    }

    @include media('600', max) {
      @include font-size(12, 16);
    }
  }

  &__toggle {
    @include flex-center-y;
    color: inherit;

    @media (hover: hover) {
      &:hover {
        color: var(--pallette-cerulean);
      }
    }

    &:not(:last-child) {
      margin-bottom: rem(13);
    }

    &-icon {
      width: rem(24);
      height: rem(24);
      margin-left: rem(6);
      transition: transform var(--transition);
    }
  }

  &__list {
    &:not(:last-child) {
      margin-bottom: rem(24);
    }

    > * {
      &:not(:last-child) {
        margin-bottom: rem(2);
      }
    }

    &-item {
      display: grid;
      grid-template-columns: rem(81) 1fr;
      gap: rem(10) rem(45);
    }

    &-term {
      color: var(--pallette-scorpion);
    }

    &-descr {
      font-weight: 700;
    }
  }

  &__bottom {
    display: flex;
    flex-wrap: wrap;
    gap: rem(10) rem(20);

    &-btn {
      padding: rem(12) rem(37);
      font-weight: 400;

      @include media('600', max) {
        width: 100%;

        &:first-child {
          order: 1;
        }

        &:last-child {
          order: 0;
        }
      }
    }
  }
}
