.footer {
  &__top {
    display: flex;
    justify-content: space-between;
    gap: rem(35);
    padding: rem(40) 0 rem(36);
    border-top: rem(1) solid var(--pallette-mystic);

    @include media('900', max) {
      flex-wrap: wrap;
    }

    @include media('600', max) {
      padding: rem(30) 0 rem(48);
      gap: rem(32);
      border-top: 0;
    }

    @include media('375', max) {
      width: calc(100% + 2rem);
      margin-left: -1rem;
      margin-right: -1rem;
    }
  }

  &__info {
    max-width: rem(205);

    @include media('600', max) {
      order: 3;
    }

    @include media('375', max) {
      padding-left: 1rem;
    }
  }

  &__logo {
    display: block;
    margin-bottom: rem(15);

    @include media('600', max) {
      margin-bottom: rem(24);
    }
  }

  &__address {
    @include media('600', max) {
      @include flex-column;
    }
  }

  &__location {
    @include flex-center-y;
    margin-bottom: rem(17);

    &-icon {
      width: rem(18);
      height: rem(18);
      flex-shrink: 0;
      margin-right: rem(6);
      fill: var(--pallette-deep-cerulean);
    }

    @include media('600', max) {
      order: 1;
      margin-bottom: rem(24);
    }
  }

  &__copyright {
    @include font-size(12, 16);
    margin-bottom: rem(17);
    color: var(--pallette-scorpion);

    @include media('600', max) {
      order: 3;
      margin-bottom: 0;
    }
  }

  &__email {
    @include font-size(16, 24);
    color: inherit;
    font-weight: 700;

    &:hover {
      color: var(--pallette-cerulean);
    }

    @include media('600', max) {
      order: 0;
      margin-bottom: rem(12);
    }
  }

  &__list-block {
    &--first {
      width: 12%;

      @include media('900', max) {
        width: 20%;
      }

      @include media('600', max) {
        width: 45%;
        order: 1;
      }

      @include media('375', max) {
        width: 42%;
        padding-left: 1rem;
      }
    }

    &--second {
      width: 14%;

      @include media('900', max) {
        width: 20%;
      }

      @include media('600', max) {
        width: 45%;
        order: 2;
      }

      @include media('375', max) {
        width: 42%;
        padding-right: 1rem;
      }
    }
  }

  &__subscribe {
    max-width: rem(285);

    @include media('600', max) {
      order: 0;
    }

    @include media('375', max) {
      padding: 0 1rem;
      max-width: 100%;
      border-bottom: rem(1) solid var(--pallette-mystic);
      padding-bottom: rem(25);
    }
  }

  &__bottom {
    @include font-size(10, 13);
    padding: rem(34) 0 rem(30);
    border-top: rem(1) solid var(--pallette-mystic);
    color: var(--pallette-scorpion);

    @include media('900', max) {
      padding: rem(24) 0;
    }

    @include media('600', max) {
      width: calc(100% + 2rem);
      margin-left: -1rem;
      margin-right: -1rem;
    }

    &-text {
      max-width: rem(780);

      @include media('600', max) {
        padding: 0 1rem;
      }
    }
  }
}
