<div class="text-block">
  {% if text_block.type == '&detail_text_block' %}
    <h2>
      IT франшиза рекламного агентства Группы компаний Альфа с уникальным и выгодным рекламным сервисом в России
    </h2>
    <p>
      Поиск клиентов – самая большая головная боль любого бизнеса, с которой сталкиваются не только гиганты рынка, но и небольшие локальные компании. Все рекламные сервисы и агентства предлагают данную услугу за очень большие деньги, при этом они не дают никаких гарантий. Как результат – рекламные бюджеты растут в геометрической прогрессии и очень часто не окупают сами себя.
    </p>
    <p>
      Запатентованный и работающий уже несколько лет сервис группы компаний Альфа помогает максимально эффективно решить проблему поиска клиентов.
    </p>
    <p>
      Наши франчайзи-партнеры зарабатывают не на рекламой услуге, а на том, что предоставляют конкретные номера телефонов тех людей, которые интересовались продуктом или услугами клиента.
    </p>
    <p>
      Как Вы думаете, сколько стоит один телефонный номер теплого клиента? Максимум 93 рубля. Это самая низкая стоимость для любого клиента. Причем мы гарантируем замену номера, в том случае, если человек, которому позвонил заказчик не подтвердил своего интереса.
    </p>
    <p>
      Интересно? А если мы скажем, что для того, чтобы стать партнером нашей компании Вам не нужны специальные технические навыки, станет еще интереснее?
    </p>
    <p>
      Мы берем на себя все техническое сопровождение, предоставляем инструменты для работы, обучение, скрипты, наставников и многое другое.
    </p>
    <p>
      Запатентованный и работающий уже несколько лет сервис группы компаний Альфа помогает максимально эффективно решить проблему поиска клиентов.
      Наши франчайзи-партнеры зарабатывают не на рекламой услуге, а на том, что предоставляют конкретные номера телефонов тех людей, которые интересовались продуктом или услугами клиента.
    </p>
    <p>
      Как Вы думаете, сколько стоит один телефонный номер теплого клиента? Максимум 93 рубля. Это самая низкая стоимость для любого клиента. Причем мы гарантируем замену номера, в том случае, если человек, которому позвонил заказчик не подтвердил своего интереса.
    </p>
    <p>
      Интересно? А если мы скажем, что для того, чтобы стать партнером нашей компании Вам не нужны специальные технические навыки, станет еще интереснее?
    </p>
    <p>
      Мы берем на себя все техническое сопровождение, предоставляем инструменты для работы, обучение, скрипты, наставников и многое другое.
    </p>
    <p>
      Всего за 2 месяца Ваш бизнес полностью окупится и начнет приносить стабильный доход.
    </p>

    {% view "&sidebar_form" with {
      sidebar_form: detail.sidebar_form_mobile
    } %}

    {% view "&form_block" with {
      form_block: detail.form_block
    } %}

    <h2>
      Франшиза в цифрах
    </h2>

    {% view "^statistics" with {
      statistics: detail.statistics
    } %}

    <h2>
      Об IT компании Группа компаний Альфа
    </h2>
    <p>
      Группа компаний Альфа – это на 100% российская IT-компания. Она начала работать в 2015 году, в момент своего основания, это была небольшая группа единомышленников. Сегодня – крупный бизнес с многомиллионными оборотами и разветвленной структурой.
    </p>
    <p>
      Главный продукт – уникальный рекламный сервис, при помощи которого компании-клиенты получают в 5-7 раз больше потенциальных клиентов. Программный комплекс запатентован и имеет все необходимые разрешения для работы.
    </p>
    <p>
      Последние годы, когда практически все бизнес-сферы понесли огромные убытки, спрос на наши услуги значительно вырос. В периоды экономической и политической нестабильности, рекламные бюджеты сокращаются, бизнесмены активно начинают искать альтернативы.
    </p>
    <p>
      Благодаря низкой стоимости рекламных услуг, наш сервис стал приносить еще больше прибыли.
    </p>
    <p>
      Мы уверены в своей бизнес-модели, поэтому готовы прописать юридическую гарантию в договоре, что, выполняя наши рекомендации, Вы окупите вложения и заработаете в два раза больше стоимости франшизы. В противном случае мы вернем полную стоимость лицензионного платежа!
    </p>

    <h2>
      Некоторые факты об IT франшизе рекламного агентства Группы компании Альфа:
    </h2>
    <p>
      Бизнесу нужна помощь в поиске клиентов. Проблема особо остро стоит в периоды кризисов. Сейчас обороты практически всех компаний значительно упали. Предприниматели ищут альтернативные рекламные каналы для увеличения клиентской базы и объемов продаж.
    </p>
    <p>
      Мы не новички на рынке.Уже более 195 человек стали нашими франчайзи. Их показатели по ежемесячной выручке от 300.000 до 6.500.000 руб. Отправьте запрос тут, и Вас запишут на Тест-драйв франшизы, где Вам покажут поступления роялти от партнеров.
    </p>
    <p>
      Более 30 тыс. клиентов подключили наши партнеры. Большая часть из которых постоянно пролонгирует договор, заказывая новые услуги.
    </p>
    <p>
      В числе наших постоянных клиентов – Райффайзенбанк, МТС, Банк Открытие, БМВ, Теле2, Авилон, Мерседес и многие другие. Мы можем дать Вам инструкцию, чтобы Вы проверили наличие нашего специального кода на их сайтах.
    </p>

    <h2>
      Описание IT франшизы рекламного агентства Группы компаний Альфа
    </h2>
    <p>
      Став партнером франшизы Группы компании Альфа Вы получаете:
    </p>
    <ul>
      <li>
        Уникальный бизнес, где нет конкуренции;
      </li>
      <li>
        Бессрочный договор на сотрудничество;
      </li>
      <li>
        Понятные гарантии окупаемости бизнеса;
      </li>
      <li>
        Если бизнес не окупился в гарантированные нами сроки, мы возвращаем вложения в бизнес, при этом Вы также остаетесь нашим партнером и можете продолжить работу;
      </li>
      <li>
        Тотальную поддержку и обучение от департамента развития головной компании;
      </li>
      <li>
        Мы предоставим Вам подробные инструкции для получения аккредитации в Министерстве цифрового развития России. Вы получите статус IT компании и все льготы, гарантированные президентским указом от 2 марта 2022 года.
      </li>
    </ul>

    {% view "&form_block" with {
      form_block: detail.form_block
    } %}

    <p>
      С нами Вы получаете широкий ассортимент услуг для бизнеса Ваших клиентов:
    </p>
    <ul>
      <li>
        Уникальный программный комплекс для генерации клиентов по самой низкой стоимости за теплый лид - до 93 руб.
      </li>
      <li>
        Методики продвижения в Telegram, VK, Яндекс Директ.
      </li>
      <li>
        Технологии и подробные инструкции по созданию WhatsApp-ботов.
      </li>
      <li>
        Вы сможете заниматься разработкой сайтов для клиентов, а также их оптимизацией, ребрендингом и техническим сопровождением.
      </li>
      <li>
        Возможность предоставлять клиенту подтвержденные заявки и получать процент от каждой сделки - ХИТ ПРОДАЖ.
      </li>
      <li>
        Разработка голосовых рассылок.
      </li>
      <li>
        Услуга упаковки бизнеса во франшизу с возможностью дальнейшего сопровождения продаж.
      </li>
    </ul>

    <h2>
      В стоимость IT франшизы рекламного агентства входит:
    </h2>
    <ul>
      <li>
        Бизнес- модель с четким пошаговым алгоритмом действий, которые позволят Вам продавать на 100 млн. руб. в год и больше.
      </li>
      <li>
        Минимум 80 горячих заявок от потенциальных клиентов на покупку услуг компании, а также 2000 контактов для клиентской базы.
      </li>
      <li>
        Теория и практика работы рекламного агентства;
      </li>
      <li>
        Интенсивное обучение в течение 23 дней от наших специалистов. Обучение структурировано, каждый блок, например, «Техническая часть», «Глобальные вопросы», «Продажи» и т.д., ведет лучший специалист-практик в нашей компании. Мы за практические знания, только они дают максимальный результат.
      </li>
      <li>
        Маркетинговые, бухгалтерские, юридические документы, необходимые для работы и достижения высоких показателей прибыли.
      </li>
      <li>
        Онлайн-вебинары по маркетингу, продажам, HR каждую неделю. Доступ к предыдущим вебинарам (более 350 записей).
      </li>
      <li>
        Готовые скрипты продаж.
      </li>
      <li>
        База знаний. Если Вы что-то забудете после обучения – вся информация будет у Вас под рукой.
      </li>
      <li>
        Вы никогда не будете работать один, с Вами на связи группа наставников, чья зарплата напрямую зависит от Ваших успехов. Максимальная мотивация!
      </li>
      <li>
        Доступ к запатентованной IT-платформе.
      </li>
      <li>
        Полная автоматизация бизнеса и собственная CRM-система.
      </li>
      <li>
        7 продающих промо-сайтов.
      </li>
      <li>
        Инструменты для работы и продажи продуктов компании на зарубежный рынок, в том числе Европа и США.
      </li>
      <li>
        Неограниченная техническая поддержка Вас и Ваших клиентов. По сути, Ваша задача только продать услугу, а дальнейшее взаимодействие с клиентами мы берем на себя.
      </li>
      <li>
        Постоянные клиентские базы данных Контур Фокус, Яндекс, 2Гис.
      </li>
      <li>
        Юридическое, бухгалтерское сопровождение.
      </li>
      <li>
        Доступ к рекламным инструментам и ресурсам нашей Группы компаний.
      </li>
      <li>
        Регламенты и правила работы Вашего отдела продаж, алгоритмы работы с потенциальными клиентами.
      </li>
      <li>
        Скрипты продаж с результатом 52% закрытия в сделку. Методики повышения среднего чека.
      </li>
    </ul>

    <h2>
      Преимущества IT франшизы рекламного агентства Группы компаний Альфа
    </h2>
    <ul>
      <li>
        Спрос на услуги больше, чем количество предложений. Каждый сайт – Ваш потенциальный клиент.
      </li>
      <li>
        Уникальный продукт запатентован и не имеет аналогов.
      </li>
      <li>
        Нет сезонности и спадов. Спрос есть всегда, ведь клиенты требуются бизнесу каждый день.
      </li>
      <li>
        Работа по всей планете! Никаких ограничений по территории работы.
      </li>
      <li>
        Революционное предложение, которое на 100% нравится всем предпринимателям: продажа теплых телефонов клиентов или процент от сделки клиента.
      </li>
      <li>
        Отсутствие дополнительных затрат на ведение бизнеса. Вы работаете без склада, брака, просрочки, не снимаете офис в аренду и не тратите свои деньги на его обустройство.
      </li>
      <li>
        Полная свобода от политических, экономических, климатических изменений и прочих форс-мажорных обстоятельств. К примеру, текущая ситуация в политической и экономической сфере принесла нам рост продаж на 300%.
      </li>
      <li>
        Наша франшиза – это 8 бизнесов в одном. Благодаря широкому списку оказываемых услуг Вы всегда найдете своего клиента. Это значительно снижает риски работы по IT франшизе рекламного агентства.
      </li>
      <li>
        Мы даем гарантию окупаемости, которая закреплена в договоре. Все, что требуется от Вас – следовать проверенным инструкциям.
      </li>
    </ul>

    <h2>
      Сколько Вы будете зарабатывать по IT франшизе рекламного агентства Группы компаний Альфа
    </h2>
    <p>
      Наши партнеры делают минимум 10 продаж в месяц.
    </p>
    <p>
      Средний чек равен 38 000 руб.
    </p>
    <p>
      38 000 х 10 = 380 000 руб.
    </p>
    <p>
      Вычитаем роялти 20% (76 000 руб.).
    </p>
    <p>
      Валовая прибыль за месяц работы составит 304 000 руб.
    </p>

    <h2>
      Требования к партнерам по IT франшизе Группы компаний Альфа
    </h2>
    <ul>
      <li>
        Открытие ИП/ООО (в этом мы Вам поможем)
      </li>
      <li>
        Желание работать в сфере IT/маркетинга
      </li>
      <li>
        Желание хорошо зарабатывать
      </li>
    </ul>
    <p>
      Чтобы присоединиться к нашей команде – запросите бизнес-план и получите бонусом БЕСПЛАТНО получить тест-драйв франшизы. Вы своими глазами увидите структуру нашей работы, состав франчайзингового пакета, все финансовые показатели. Более того, мы предоставим Вам контакты наших партнеров, чтобы Вы задали свои вопросы и узнали все из первых уст. До скорой связи!
    </p>

    {% view "&form_block" with {
      form_block: detail.form_block
    } %}
  {% endif %}
</div>