<div class="banner">
  <a href="#">
    <picture>
      <source type="image/avif" media="(max-width: 375px)" srcset="./assets/images/banner/01_mobile.avif">
      <source type="image/avif" srcset="./assets/images/banner/01.avif">
      <source type="image/webp" media="(max-width: 375px)" srcset="./assets/images/banner/01_mobile.webp">
      <source type="image/webp" srcset="./assets/images/banner/01.webp">
      <source media="(max-width: 375px)" srcset="./assets/images/banner/01_mobile.png">
      <img class="banner__img" src="./assets/images/banner/01.png" alt="IT франшиза. Более 189 партнеров. Гарантия выручки 8 миллионов за первый год. Объем выручки более 500 миллионов за 2021 год." loading="lazy" width="895" height="324">
    </picture>
  </a>
</div>