.banner {
  $this: &;

  @include media('600', max) {
    &:not(:last-child) {
      margin-bottom: rem(44);

      @include media('600', max) {
        margin-bottom: rem(30);
      }
    }
  }

  @include media('375', max) {
    width: calc(100% + 2rem);
    margin-left: -1rem;
  }

  img {
    border-radius: rem(12);

    @include media('1200', max) {
      margin: 0 auto;
    }

    @include media('375', max) {
      width: 100%;
      border-radius: 0;
    }
  }
}
