<div class="banner">
  <a href="#">
    <picture>
      <source media="(max-width: 375px)" srcset="./assets/images/pixel.png" data-src="./assets/images/banner/01.webp"
        data-srcset="./assets/images/banner/01_mobile.webp">
      <img class="lazy" src="./assets/images/pixel.png" data-src="./assets/images/banner/01.png">
    </picture>
  </a>
</div>