.banner {
  $this: &;

  margin-bottom: rem(44);

  @include media('600', max) {
    width: calc(100% + 2rem);
    margin-left: -1rem;
    margin-bottom: rem(30);
  }

  &__link {
    display: flex;
  }

  &__img {
    border-radius: rem(12);

    @include media('1200', max) {
      margin: 0 auto;
    }

    @include media('600', max) {
      width: 100%;
      border-radius: 0;
    }
  }
}
