<nav class="header-nav {{ header_nav.class }}" {{ header_nav.attrs }}>
  <ul class="header-nav__list">
    {% for item in header_nav.items %}
      <li class="header-nav__item">
        {% view "@button" with {
          button: item|merge({
            href: "#",
            class: "header-nav__link"
          })
        } %}
      </li>
    {% endfor %}
  </ul>
</nav>