.slider {
  $this: &;

  position: relative;

  .swiper-button-next::after,
  .swiper-button-prev::after {
    content: none;
  }

  &__btn {
    @include flex-center;
    width: rem(32);
    height: rem(32);
    border-radius: rem(82);
    background-color: rgba(224, 227, 229, 0.75);
    box-shadow: 0 rem(4) rem(4) rgba(0, 0, 0, 0.25);

    &--next {
      #{$this}__btn-icon {
        transform: rotate(180deg);
      }
    }

    &-icon {
      width: rem(20);
      height: rem(20);
      fill: var(--pallette-deep-cerulean);
    }

    &[disabled] {
      opacity: 1;
      pointer-events: auto;
      cursor: not-allowed;
    }
  }

  &__pagination {
    @include flex-center-x;
    position: static;
    margin-top: rem(24);

    @include media('600', max) {
      margin-top: rem(16);
    }

    &.swiper-pagination-bullets {
      .swiper-pagination-bullet {
        width: rem(6);
        height: rem(6);
        background-color: var(--pallette-nobel);
        opacity: 1;
      }

      .swiper-pagination-bullet-active {
        background-color: var(--pallette-deep-cerulean);
      }
    }
  }
}

.detail-tabs-slider {
  &__img {
    @include media('600', max) {
      margin: 0 auto;
    }
  }
}

.similar-franchise-slider {
  @include media('500', max) {
    width: calc(100% + 2rem);
    margin-left: -1rem;

    .card__content {
      padding: rem(10) rem(32) 0;
    }
  }
}
