.tabs {
  $this: &;

  &:not(:last-child) {
    margin-bottom: rem(44);
  }

  &--hidden {
    display: none;
  }

  &__title {
    @include font-size(22, 33);
    font-weight: 400;

    @include media('600', max) {
      @include font-size(16, 24);
    }

    &:not(:last-child) {
      margin-bottom: rem(20);

      @include media('600', max) {
        margin-bottom: rem(16);
      }
    }
  }

  &__content {
    > * { // todo: поискать лучшее решение, возможно прокидывать card-block через секцию, где есть модификаторы
      &.card-block {
        &:not(:last-child) {
          margin-bottom: rem(20);
        }
      }
    }
  }

  &__card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: rem(20);

    @include media('600', max) {
      grid-template-columns: 1fr;
      gap: rem(12);
    }
  }
}
