.statistics {
  $this: &;

  &__item {
    @include flex-center-y;
    gap: rem(16);

    &:not(:last-child) {
      margin-bottom: rem(12);
    }

    @include media('600', max) {
      justify-content: space-between;
    }
  }

  &__info {
    @include flex-center-y;

    &-icon {
      width: rem(24);
      height: rem(24);
      margin-right: rem(8);

      @include media('600', max) {
        width: rem(16);
        height: rem(16);
      }
    }

    &-text {
      @include media('600', max) {
        @include font-size(12, 16);
      }
    }
  }

  &__btn {
    @include media('600', max) {
      @include font-size(12, 16);
    }
  }
}
