.detail-accordion {
  $this: &;

  display: none;

  @include media('600', max) {
    display: block;
  }

  &__content {
    padding-bottom: rem(14);
  }

  &__btn {
    @include flex-center;
    @include font-size(22, 33);
    color: var(--pallette-deep-cerulean);

    &[aria-expanded=true] {
      margin-bottom: rem(12);
      color: var(--pallette-ebony);

      #{$this}__icon {
        transform: rotate(180deg);
      }
    }
  }

  &__icon {
    width: rem(24);
    height: rem(24);
    margin-left: rem(6);
    transition: transform var(--transition);
  }

  .detail-tabs-slider__pagination.swiper-pagination-bullets {
    bottom: rem(-18);
  }
}
