<article class="personal-card">
  {% view "@title" with {
    title: personal_card.title|merge({
      class: "personal-card__title"
    })
  } %}

  {% view "@image" with {
    image: personal_card.image|merge({
      class: "personal-card__img",
      picture: {
        class: "personal-card__picture"
      }
    })
  } %}

  <div class="personal-card__content">
    <p class="personal-card__text">
      {{ personal_card.text }}
    </p>

    <form action="/" method="get" class="personal-card__form">
      {% for input in personal_card.inputs %}
        {% view "@input" with {
          input: input
        } %}
      {% endfor %}

      {% view "@button" with {
        button: personal_card.btn|merge({
          class: "btn--btn btn--primary personal-card__btn"
        })
      } %}
    </form>
  </div>
</article>