.sidebar-slider {
  $this: &;

  height: rem(500);

  &__title {
    @include font-size(16, 24);
    max-width: rem(220);
    margin-top: rem(10);
  }

  &__link {
    color: inherit;

    &::before {
      position: absolute;
      inset: 0;
      z-index: 1;
      content: '';
    }
  }
}
