<div class="swiper sidebar-slider {{ sidebar_slider.class }}">
  <div class="swiper-wrapper">
    {% for item in sidebar_slider.items %}
      <div class="swiper-slide sidebar-slider__item">
        {% view "@image" with {
          image: item.image|merge({
            class: "sidebar-slider__img",
            lazy: false,
            sizes: {
              width: 240,
              height: 400
            }
          })
        } %}

        <h3 class="title sidebar-slider__title">
          <a class="sidebar-slider__link" href="#">
            {{ item.title }}
          </a>
        </h3>
      </div>
    {% endfor %}
  </div>
</div>