.title {
  &--h1 {
    @include font-size(36, 50);
    font-weight: 400;
    margin-bottom: rem(20);

    @include media('375', max) {
      @include font-size(22, 33);
      margin-bottom: rem(16);
    }
  }

  &__link {
    color: inherit;

    &::before {
      position: absolute;
      inset: 0;
      content: '';
    }
  }
}
