.table {
  overflow-x: auto;
  margin-bottom: rem(30);

  &--express-form {
    table {
      th,
      td {
        &:nth-child(1) {
          width: 11%;
        }

        &:nth-child(2) {
          width: 31%;
        }
      }
    }
  }

  table {
    width: 100%;
    border-spacing: 0;
    text-align: left;

    tbody {
      tr {
        &:last-child {
          td {
            border-bottom: 0;
          }
        }
      }
    }

    th,
    td {
      padding: rem(20) rem(127) rem(20) 0;
      border-bottom: rem(1) solid var(--pallette-mystic);
      white-space: nowrap;

      &:last-child {
        padding-right: 0;
      }

      @include media('600', max) {
        padding: rem(16) rem(46) rem(16) 0;
      }
    }

    th {
      border-top: rem(1) solid var(--pallette-mystic);
      color: var(--pallette-scorpion);
      font-weight: 400;
    }

    a {
      color: var(--pallette-deep-cerulean);
      transition: color var(--transition);

      &:hover {
        color: var(--pallette-cerulean);
      }
    }
  }
}
